*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
client/lib/temporary
server/config.local.json
server/datasources.local.json
server/config.product.json
server/datasources.peoduct.json
server/config.dev.json
server/datasources.dev.json
