<div class="row">
  <div class="col s12">
    <ul id="editActivityTabs" class="tabs" tabs>
      <li class="tab col s3"><a class="active" href="#mainInfo">基本信息</a></li>
      <li class="tab col s3"><a href="#copywriter">活动文案</a></li>
      <li class="tab col s3"><a href="#complete">完成</a></li>
    </ul>
  </div>
  <div class="editField col s12">
    <h5 class="activityName">
      <span ng-show="!isEdit">新建</span>
      <span ng-show="isEdit">修改</span>活动
      <span ng-bind="activityData.title"></span>
    </h5>
    <div id="mainInfo" class="col s12">
      <div class="container">
        <div input-field>
          <i class="mdi-image-edit prefix"></i>
          <input id="activityTitle" type="text" ng-model="activityData.title">
          <label for="activityTitle">活动标题</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">&#xE90D;</i>
          <select class="selectMargin" ng-model="activityData.verifyRule" material-select watch>
            <option value="" disabled selected>请选择验证规则</option>
            <option>学号</option>
            <option>手机</option>
          </select>
        </div>
        <div class="row">
          <div input-field class="col s6">
            <i class="material-icons prefix">&#xE916;</i>
            <label for="startTime">开始时间</label>
            <input input-date
                   type="text"
                   name="created"
                   id="startTime"
                   ng-model="startTime.date"
                   container="body"
                   format="yyyy/mm/dd"
                   months-full="{{ month }}"
                   months-short="{{ monthShort }}"
                   weekdays-full="{{ weekdaysFull }}"
                   weekdays-short="{{ weekdaysShort }}"
                   weekdays-letter="{{ weekdaysLetter }}"
                   min="{{ minDate }}"
                   today="today"
                   clear="clear"
                   close="close"
                   select-years="16">
          </div>
          <div input-field class="col s3">
            <input ng-change="minuteChange(0)" min="0" max="23" id="startHour" type="number" ng-model="startTime.hour">
            <label for="startHour">小时</label>
          </div>
          <div input-field class="col s3">
            <input ng-change="minuteChange(0)" id="startMinute" type="number" ng-model="startTime.minute">
            <label for="startMinute">分钟</label>
          </div>
        </div>
        <div class="row">
          <div input-field class="col s6">
          <i class="material-icons prefix"></i>
          <label for="endTime">结束时间</label>
          <input input-date
                 type="text"
                 name="created"
                 id="endTime"
                 ng-model="endTime.date"
                 container="body"
                 format="yyyy/mm/dd"
                 months-full="{{ month }}"
                 months-short="{{ monthShort }}"
                 weekdays-full="{{ weekdaysFull }}"
                 weekdays-short="{{ weekdaysShort }}"
                 weekdays-letter="{{ weekdaysLetter }}"
                 min="{{ minDate }}"
                 today="today"
                 clear="clear"
                 close="close"
                 select-years="16">
        </div>
        <div input-field class="col s3">
          <input ng-change="hourChange(1)" id="endHour" type="number" ng-model="endTime.hour">
          <label for="endHour">小时</label>
        </div>
        <div input-field class="col s3">
          <input ng-change="minuteChange(1)" id="endMinute" type="number" ng-model="endTime.minute">
          <label for="endMinute">分钟</label>
        </div>
        </div>
        <div input-field class="col s12">
          <i class="mdi-communication-vpn-key prefix"></i>
          <input id="keyword" type="text" ng-model="activityData.keyword">
          <label for="keyword">关键字（用英文逗号隔开）</label>
        </div>
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>活动图片</span>
            <input type="file" id="activityImg" ng-model="activityData.imgName">
          </div>
          <div class="file-path-wrapper">
            <input ng-model="activityImg" ng-change="activityImgLoad()" class="file-path validate" type="text"
                   placeholder="{{picNotice}}">
          </div>
        </div>

        <span>是否隐藏该活动</span>
        <div class="switch margin-left margin-top" style="display: inline-block">
          <label>
            否
            <input type="checkbox" ng-model="activityData.hidden">
            <span class="lever"></span>
            是
          </label>
        </div>

        <hr class="margin-top">
        <div class="input-field">
          <button class="waves-effect waves-light btn grey lighten-1 left" ui-sref="activityList">取消</button>
          <button class="btn waves-effect waves-light right orange darken-1" ng-click="nextStep(1)">下一步
            <i class="mdi-hardware-keyboard-arrow-right right"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="copywriter" class="col s12">
      <div class="container">
        <div class="col s12 text-center">
          <a class="waves-effect waves-light btn" href="http://xiumi.us/#/studio/papers" target="_blank">使用秀米制作</a>
          <p class="explainText">你可以使用秀米(无需登陆)制作文案然后粘贴到该编辑器中</p>
        </div>
        <div class="clearfix"></div>
        <div class="ueditor" ng-model="activityEditorContent" config="activityEditorConfig"></div>
        <div class="input-field">
          <button class="btn waves-effect waves-light left orange darken-1" ng-click="nextStep(0)">上一步
            <i class="mdi-hardware-keyboard-arrow-left left"></i>
          </button>
          <button class="btn waves-effect waves-light right orange darken-1" ng-click="nextStep(2)">下一步
            <i class="mdi-hardware-keyboard-arrow-right right"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="complete" class="col s12">
      <div class="container">

        <div class="col s12 text-center">
          <button ng-disabled="voteData || seckillData" ng-click="getActivityList('form')" modal href="#addForm"
                  class="waves-effect waves-light btn">添加表单<i
            class="mdi-content-add right"></i></button>
          <p ng-show="formData" class="orange-text text-darken-2">
            <a ng-click="removeFormData()" tooltipped data-position="top" data-delay="0" data-tooltip="删除表单"
               class="btn-floating waves-effect waves-light red">
              <i class="mdi-content-remove"></i>
            </a>
            &nbsp;&nbsp;已选择表单：
            <span ng-bind="formData.title"></span>
          </p>
          <p class="explainText">添加表单可用于与资料收集,问卷调查,<br>招新报名,用户阅读活动文案后可直接参与</p>
        </div>
        <div id="addForm" class="modal">
          <div class="modal-content">
            <h4>请选择表单模板</h4>
            <div class="collection" ng-show="formItems.length">
              <a ng-click="addFormFunc()"
                 ng-repeat="formItem in formItems" href="" class="collection-item" ng-bind="formItem.title"></a>
            </div>
          </div>
          <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
          </div>
        </div>

        <div class="col s12 text-center">
          <button ng-disabled="formData || seckillData" ng-click="getActivityList('vote')" modal href="#addVote" class="waves-effect waves-light btn">添加投票<i
            class="mdi-content-add right"></i>
          </button>
          <p ng-show="voteData" class="orange-text text-darken-2">
            <a ng-click="removeVoteData()" tooltipped data-position="top" data-delay="0" data-tooltip="删除投票"
               class="btn-floating waves-effect waves-light red">
              <i class="mdi-content-remove"></i>
            </a>
            &nbsp;&nbsp;已选择投票：
            <span ng-bind="voteData.title"></span>
          </p>
          <p class="explainText">添加投票可用于日常投票,<br>用户在阅读活动文案后可直接参与</p>
        </div>
        <div id="addVote" class="modal">
          <div class="modal-content">
            <h4>请选择投票模板</h4>
            <div class="collection" ng-show="voteItems.length">
              <a ng-click="addVoteFunc()"
                 ng-repeat="voteItem in voteItems" href="" class="collection-item" ng-bind="voteItem.title"></a>
            </div>
          </div>
          <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
          </div>
        </div>

        <div class="col s12 text-center">
          <button ng-disabled="formData || voteData"
            ng-click="getActivityList('seckill')" modal
            href="#addSeckill" class="waves-effect waves-light btn">添加抢票
            <i class="mdi-content-add right"></i>
          </button>
          <p ng-show="seckillData" class="orange-text text-darken-2">
            <a ng-click="removeSeckillData()" tooltipped
                data-position="top" data-delay="0" data-tooltip="删除抢票"
                class="btn-floating waves-effect waves-light red">
              <i class="mdi-content-remove"></i>
            </a>
            &nbsp;&nbsp;已选择抢票：
            <span ng-bind="seckillData.title"></span>
          </p>
          <p class="explainText">添加抢票可用于抢入场券、礼品等,
            <br>用户阅读活动文案后可直接参与
          </p>
        </div>
        <div id="addSeckill" class="modal">
          <div class="modal-content">
            <h4>请选择抢票模板</h4>
            <div class="collection" ng-show="seckillItems.length">
              <a ng-click="addSeckillFunc()"
                 ng-repeat="seckillItem in seckillItems" href="" class="collection-item" ng-bind="seckillItem.title"></a>
            </div>
          </div>
          <div class="modal-footer">
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
          </div>
        </div>

        <div class="col s12 text-center">
          <a class="waves-effect waves-light btn">预览</a>
          <p class="explainText">预览你要发布的信息</p>
        </div>

        <div class="col s12">
          <hr>
          <button class="btn waves-effect waves-light left orange darken-1" ng-click="nextStep(1)">上一步
            <i class="mdi-hardware-keyboard-arrow-left left"></i>
          </button>
          <button class="waves-effect waves-light btn orange darken-1 right" ng-click="createActivity()">发布
            <i class="mdi-action-done right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
