<div class="row">
  <div class="col s12">
    <h4 class="activityName" ng-bind="raceInfo.name"></h4>
    <ul id="editEventTabs" class="tabs" tabs>
      <li class="tab col s3"><a class="active" href="#eventNotice">竞赛通知</a></li>
      <li class="tab col s3"><a href="#eventTeams">参赛团队</a></li>
      <li class="tab col s3"><a href="#eventLibrary">资料库</a></li>
    </ul>
  </div>
  <div class="editField col s12">
    <div id="eventNotice">
      <div ng-show="isAuthor">
        <div input-field class="newNoticeContent">
          <i class="mdi-editor-mode-edit prefix"></i>
        <textarea id="newNoticeContent" ng-model="newNotice.content"
                  class="materialize-textarea"></textarea>
          <label for="newNoticeContent">新通知内容</label>
        </div>
        <div class="addFile">
          <a class="btn waves-effect waves-light darken-2 blue"
             ng-click="uploadAttachmentBtn = !uploadAttachmentBtn;">上传附件</a>
          <a class="btn waves-effect waves-light darken-2 blue"
             ng-click="addGetInfoBtn = !addGetInfoBtn;">
            资料收集</a>
          <a class="btn waves-effect waves-light darken-2 blue"
             ng-click="addNoticeForm = !addNoticeForm;">
            添加表单</a>

          <div ng-show="uploadAttachmentBtn" class="file-field input-field">
            <div class="btn">
              <span>点击上传附件</span>
              <input type="file" id="attachmentFile">
            </div>
            <div class="file-path-wrapper">
              <input ng-model="newNotice.attachmentName" ng-change="uploadAttachment()" class="file-path validate"
                     type="text"
                     placeholder="点我上传附件">
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div ng-show="addGetInfoBtn" class="card addGetInfo">
          <div class="card-content">
            <div class="row">
              <div class="col s12" input-field>
                <i class="mdi-action-label-outline prefix"></i>
                <input ng-model="newNotice.fileName" id="geiInfoFile" type="text" class="validate">
                <label for="geiInfoFile">需要收集的文件名称</label>
                <p class="grey-text right">文件收集结果在<span class="bold-text">资料库</span>中显示<i
                  class="mdi-content-forward"></i></p>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div ng-show="addNoticeForm" class="card addGetInfo">
          <div class="card-content">
            <div class="row text-center">
              <button ng-click="getActivityList('form')" modal href="#addForm"
                      class="waves-effect waves-light btn">添加表单<i
                class="mdi-content-add right"></i></button>
              <p ng-show="formData" class="orange-text text-darken-2 margin-top">
                <a ng-click="removeFormData()" tooltipped data-position="top" data-delay="0" data-tooltip="删除表单"
                   class="btn-floating waves-effect waves-light red">
                  <i class="mdi-content-remove"></i>
                </a>
                &nbsp;&nbsp;已选择表单：
                <span ng-bind="formData.title"></span>
              </p>
              <p class="grey-text margin-top">添加表单可用于与资料收集,问卷调查</p>
              <div id="addForm" class="modal">
                <div class="modal-content">
                  <h4>请选择表单模板</h4>
                  <div class="collection" ng-show="formItems.length">
                    <a ng-click="addFormFunc()"
                       ng-repeat="formItem in formItems" href="" class="collection-item" ng-bind="formItem.title"></a>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <a ng-click="createNotice()" class="waves-effect waves-light right btn orange darken-4">发送通知</a>

        <div class="clearfix"></div>
        <br>
      </div>

      <!--发送过的通知-->
      <h4>发送的通知</h4>
      <div ng-show="!noticeList.length" class="text-center">
        <p class="noticeText">还没有通知哦 (>_<)</p>
      </div>
      <ul class="collection z-depth-1 hoverable" ng-show="noticeList.length">
        <li class="collection-item avatar collection-item-event"
            ng-repeat="notice in noticeList | orderBy: 'created': true">
          <i ng-show="isAuthor" class="mdi-content-clear red-text deleteMember right"
             ng-href="{{'#deleteNoticeConfirm' + $index}}"
             modal></i>
          <span class="green-text text-darken-2"
                ng-bind="notice.created | date: 'yyyy-MM-dd HH:mm'"></span>
          <section ng-bind="notice.content"></section>
          <section ng-show="notice.attachmentUrl">
            <span class="orange-text text-darken-2">附件：</span>
            <a target="_blank"
               ng-href="{{notice.attachmentUrl}}"
               ng-bind="notice.attachmentName">
            </a>
          </section>
          <section ng-show="notice.fileName">
            <span class="orange-text text-darken-2">需要收集的文件：</span>
            <span ng-bind="notice.fileName"></span>
            <div input-field class="file-field input-field">
              <div class="btn">
                <span>文件收集</span>
                <input type="file" id="{{notice.id}}">
              </div>
              <div class="file-path-wrapper">
                <input ng-model="notice.file"
                       ng-change="uploadNoticeFile()" class="file-path validate"
                       type="text"
                       placeholder="点我上传《{{notice.fileName}}》">
              </div>
            </div>
          </section>

          <div id="{{'deleteNoticeConfirm' + $index}}" class="modal">
            <div class="modal-content">
              <h4>确认删除？</h4>
              <p class="text-center warningText"><i class="mdi-alert-warning"></i> <span>删除后不可恢复！</span></p>
            </div>
            <div class="modal-footer">
              <a ng-click="deleteNotice()" href=""
                 class="white-text modal-action modal-close waves-effect waves-green btn-flat red darken-1">确认删除</a>
              <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="eventTeams">
    <ul class="collection with-header hoverable">
      <li class="collection-header"><h4>参赛团队</h4></li>
      <li class="collection-item avatar" ng-repeat="raceTeam in raceTeams">
        <img ng-src="{{raceTeam.logoUrl}}" class="circle">
        <span class="title">
          <a ng-href="/w/teams/{{raceTeam.id}}" target="_blank"
             ng-bind="raceTeam.name"></a>
        </span>
        <p>
        <table>
          <thead>
          <tr>
            <th data-field="id">姓名</th>
            <th data-field="name">联系方式</th>
            <th data-field="price">学院</th>
            <th data-field="price">角色</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="member in raceTeam.members">
            <td ng-bind="member.name"></td>
            <td ng-bind="member.phone"></td>
            <td ng-bind="member.academy || '未填写'"></td>
            <td ng-bind="member.department"></td>
          </tr>
          </tbody>
        </table>
        </p>
        <a href="#!" class="secondary-content">
          <i ng-show="isAuthor" class="mdi-content-clear red-text deleteMember right"
             ng-href="{{'#deleteRaceTeamConfirm' + $index}}"
             modal></i>
        </a>
        <div id="{{'deleteRaceTeamConfirm' + $index}}" class="modal">
          <div class="modal-content">
            <h4>确认删除？</h4>
            <p class="text-center warningText">
              <i class="mdi-alert-warning"></i>
              <span>删除后不可恢复！</span>
            </p>
          </div>
          <div class="modal-footer">
            <a ng-click="deleteRaceTeam()" href=""
               class="white-text modal-action modal-close waves-effect waves-green btn-flat red darken-1">确认删除</a>
            <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
          </div>

        </div>
      </li>
      <li class="collection-item text-center" ng-hide="raceTeams.length">
        <p class="noticeText">还没有团队参加哦 (´・ω・`)</p>
      </li>
    </ul>
  </div>
  <div id="eventLibrary" class="col s12">
    <div ng-show="isAuthor" class="col s12">
      <div class="file-field input-field">
        <div class="btn">
          <span>添加资料</span>
          <input type="file" id="addMaterialDoc">
        </div>
        <div class="file-path-wrapper">
          <input ng-model="materialInfo.name" class="file-path validate" type="text"
                 placeholder="点我添加文件" ng-change="materialLoad()">
        </div>
      </div>
      <div class="file-field input-field">
        <input type="checkbox" id="isOpen" ng-model="materialInfo.open">
        <label for="isOpen">公开该文件（所有人可见）</label>
      </div>
      <a href="" class="waves-effect waves-light btn right orange darken-4 margin-top"
         ng-click="createMaterial()"><i class="mdi-content-add right"></i>上传资料</a>
    </div>
    <div class="col s12 m12">
      <h4>组织方上传资料</h4>
      <p ng-show="!materialList.length">资料库空空荡荡~ (●′ω`●)</p>
      <ul class="collection z-depth-1 hoverable" ng-show="materialList.length">
        <li ng-show="materialSingle.open || isAuthor"
            class="collection-item avatar collection-item-event"
            ng-repeat="materialSingle in materialList | orderBy: 'created': true">
          <i ng-show="isAuthor" class="mdi-content-clear red-text deleteMember right"
             ng-href="{{'#deleteMaterialConfirm' + $index}}" modal></i>
          <span class="green-text text-darken-2"
                ng-bind="materialSingle.created | date: 'yyyy-MM-dd HH:mm'">
          </span>
          <section>
            <a target="_blank" ng-href="{{materialSingle.dataUrl}}"
               ng-bind="materialSingle.name"></a>
          </section>
          <div class="switch right" ng-show="isAuthor">
            <label>
              隐藏
              <input type="checkbox" ng-model="materialSingle.open" ng-change="changeOpen()">
              <span class="lever"></span>
              公开
            </label>
          </div>
          <div class="clearfix"></div>

          <div id="{{'deleteMaterialConfirm' + $index}}" class="modal">
            <div class="modal-content">
              <h4>确认删除？</h4>
              <p class="text-center warningText"><i class="mdi-alert-warning"></i> <span>删除后不可恢复！</span></p>
            </div>
            <div class="modal-footer">
              <a ng-click="deleteMaterial()" href=""
                 class="white-text modal-action modal-close waves-effect waves-green btn-flat red darken-1">确认删除</a>
              <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="col s12 m12" ng-show="isAuthor">
      <h4>竞赛收集的资料</h4>
      <p ng-show="!(noticeList.length - deletedNum)">还没有要收集的文件哦 (*ω* )</p>
      <ul class="collapsible" data-collapsible="accordion" watch ng-show="noticeList.length - deletedNum">
        <li ng-repeat="notice in noticeList | orderBy: 'created': true"
            ng-show="notice.fileName && notice.deleted === false">
          <div class="collapsible-header">
            <h5 ng-bind="notice.fileName"></h5>
          </div>
          <div class="collapsible-body">
            <div ng-repeat="uploadfile in notice.uploadFile">
              <p>
                <span ng-bind="$index + 1"></span>.
                <span class="orange-text text-darken-2"
                      ng-bind="uploadfile.loader"></span>
                <span ng-bind="uploadfile.created|date: 'M月d日'"></span>上传
                <a target="_blank"
                   ng-href="{{uploadfile.dataUrl}}"
                   ng-bind="uploadfile.name"></a>
              </p>
            </div>
            <p ng-show="!notice.uploadFile">还没有团队上传资料哦 (* ￣︿￣)</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
