<div class="row">
  <div class="col s12">
    <ul id="editEventTabs" class="tabs" tabs>
      <li class="tab col s3"><a class="active" href="#mainInfo">基本信息</a></li>
      <li class="tab col s3"><a href="#copywriter">竞赛介绍</a></li>
      <li class="tab col s3"><a href="#complete">完成</a></li>
    </ul>
  </div>
  <div class="editField col s12">
    <h5 class="activityName">新建竞赛 <span ng-bind="eventData.name"></span></h5>
    <div id="mainInfo" class="col s12">
      <div class="container">
        <div input-field class="col s12">
          <i class="mdi-image-edit prefix"></i>
          <input id="eventTitle" type="text" ng-model="eventData.name">
          <label for="eventTitle">竞赛标题</label>
        </div>
        <div class="row">
          <div input-field class="col m6">
            <i class="material-icons prefix">&#xE916;</i>
            <label for="startDate">报名开始时间</label>
            <input input-date
                   type="text"
                   name="created"
                   id="startDate"
                   ng-model="startTime.date"
                   container="body"
                   format="yyyy/mm/dd"
                   months-full="{{ month }}"
                   months-short="{{ monthShort }}"
                   weekdays-full="{{ weekdaysFull }}"
                   weekdays-short="{{ weekdaysShort }}"
                   weekdays-letter="{{ weekdaysLetter }}"
                   min="{{ minDate }}"
                   today="today"
                   clear="clear"
                   close="close"
                   select-years="16">
          </div>
          <div input-field class="col s3">
            <input ng-change="hourChange(0)" id="startHour" type="number" ng-model="startTime.hour">
            <label for="startHour">小时(0~23)</label>
          </div>
          <div input-field class="col s3">
            <input ng-change="minuteChange(0)" id="startMinute" type="number" ng-model="startTime.minute">
            <label for="startMinute">分钟(0~59)</label>
          </div>
        </div>
        <div class="row">
          <div input-field class="col s6">
            <i class="prefix"></i>
            <label for="endDate">报名结束时间</label>
            <input input-date
                   type="text"
                   name="created"
                   id="endDate"
                   ng-model="endTime.date"
                   container="body"
                   format="yyyy/mm/dd"
                   months-full="{{ month }}"
                   months-short="{{ monthShort }}"
                   weekdays-full="{{ weekdaysFull }}"
                   weekdays-short="{{ weekdaysShort }}"
                   weekdays-letter="{{ weekdaysLetter }}"
                   min="{{ minDate }}"
                   today="today"
                   clear="clear"
                   close="close"
                   select-years="16">
          </div>
          <div input-field class="col s3">
            <input ng-change="hourChange(1)" id="endHour" type="number" ng-model="endTime.hour">
            <label for="endHour">小时</label>
          </div>
          <div input-field class="col s3">
            <input ng-change="minuteChange(1)" id="endMinute" type="number" ng-model="endTime.minute">
            <label for="endMinute">分钟</label>
          </div>
        </div>
        <div class="file-field input-field col s12">
          <div class="btn">
            <span>活动图片</span>
            <input type="file" id="eventImg">
          </div>
          <div class="file-path-wrapper">
            <input ng-model="eventImg" ng-change="eventImgLoad()" class="file-path validate" type="text"
                   placeholder="{{picNotice}}">
          </div>
        </div>
        <div class="input-field col s12">
          <button class="waves-effect waves-light btn grey lighten-1 left" ui-sref="eventList">取消</button>
          <button class="btn waves-effect waves-light right orange darken-1" ng-click="nextStep(1)">下一步
            <i class="mdi-hardware-keyboard-arrow-right right"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="copywriter" class="col s12">
      <div class="container">
        <div class="col s12 text-center">
          <a class="waves-effect waves-light btn" href="http://xiumi.us/#/studio/papers" target="_blank">使用秀米制作</a>
          <p class="explainText">你可以使用秀米(无需登陆)制作文案然后粘贴到该编辑器中</p>
        </div>
        <div class="clearfix"></div>
        <div class="file-field input-field">
          <div class="ueditor" ng-model="eventEditorContent" config="eventEditorConfig"></div>
        </div>
        <div class="input-field">
          <button class="btn waves-effect waves-light left orange darken-1" ng-click="nextStep(0)">上一步
            <i class="mdi-hardware-keyboard-arrow-left left"></i>
          </button>
          <button class="btn waves-effect waves-light right orange darken-1" ng-click="nextStep(2)">下一步
            <i class="mdi-hardware-keyboard-arrow-right right"></i>
          </button>
        </div>
      </div>
    </div>
    <div id="complete" class="col s12">
      <div class="container">
        <div class="col s12 text-center">
          <a class="waves-effect waves-light btn">预览</a>
          <p class="explainText">预览你要发布的信息</p>
        </div>
        <div class="col s12">
          <hr>
          <button class="btn waves-effect waves-light left orange darken-1" ng-click="nextStep(1)">上一步
            <i class="mdi-hardware-keyboard-arrow-left left"></i>
          </button>
          <button class="waves-effect waves-light btn orange darken-1 right" ng-click="createEvent()">发布
            <i class="mdi-action-done right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
