<div class="row">
  <div class="col s12 m4 l3">
    <div class="card addItemBox">
      <div class="card-content item-list">
        <p class="text-center"><i class="material-icons">&#xE145;</i></p>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3">
    <div class="card">
      <div class="card-content item-list">
        <span class="card-title">测试</span>
        <p>开始：2015-10-20 00:00:00</p>
        <p>结束：2015-10-20 00:00:00</p>
        <p style="word-break:break-word">简介：qweqwewdsad</p>
      </div>
      <div class="card-action btn-area">
        <div class="edit-btn waves-effect text-center">
          <a href ng-click="edit(listItem.id)"><i class="material-icons">&#xE254;</i> 编辑</a>
        </div>
        <div class="result-btn waves-effect text-center">
          <a href ng-click="result(listItem.id)"><i class="material-icons">&#xE241;</i> 结果</a>
        </div>
        <div class="delete-btn waves-effect text-center">
          <a href ng-click="deleteConfirm = !deleteConfirm"><i class="material-icons">&#xE872;</i> 删除</a>
        </div>
      </div>
    </div>
  </div>
</div>
