<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">竞赛信息</a>
    </div>
  </nav>
</header>



<footer>
  <div class="row">
    <div class="col s12">
      <ul class="tabs1">
        <li class="newtab col s4"><a ng-href="/event/{{event.id}}/messages">竞赛通知</a></li>
        <li class="newtab col s4"><a ng-href="/event/{{event.id}}/teams">竞赛团队</a></li>
        <li class="newtab col s4"><a ng-href="/event/{{event.id}}/explains">竞赛介绍</a></li>
      </ul>
    </div>
  </div>
</footer>