<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">where R U</a>
      <span class="nav-wrapper right" style="padding: 0 15px">
        <i class="material-icons">loop</i>
      </span>
    </div>
  </nav>
</header>


<!--顶部滑动框-->
<div class="slider" slider  >
  <ul class="slides">
    <li>
      <img src="../lib/img/test1.png">

      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../lib/img/test1.png">

      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="../lib/img/test1.png">

      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<!--字图的介绍-->
<div style="border: 1px solid">
  字图的介绍.
</div>

<!--竞赛滑动条-->
<div class="competition">

<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">
<img src="/lib/img/test1.png">

</div>

<div class="row competition" style="margin: 0">
  <div class="competition">
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
  <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>
</span>
    <span class="thumbnail mys2">
  <img src="../lib/img/test1.png" alt="无法显示"/>
  <div class="text-center">aa</div>


  </div>
</div>


<!--队伍信息-->
<ul class="collection">
  <li class="collection-item avatar">
    <img src="../lib/img/test1.png" alt="" class="circle">
    <span class="title">团队名称</span>
    <p>公告标题 <br>
      通知正文
    </p>
    <div class="secondary-content" ng-init="showParallax1 = false">
      <i class="material-icons" ng-click="showParallax1 = !showParallax1">reorder</i>
    </div>
    <div class="parallax-container" ng-if="showParallax1" style="margin: 20px 0; height: auto">
      <div>hello</div>
    </div>
  </li>
  <li class="collection-item avatar">
    <img src="../lib/img/test1.png" alt="" class="circle">
    <span class="title">团队名称</span>
    <p>公告标题 <br>
      通知正文
    </p>
    <div class="secondary-content" ng-init="showParallax2 = false">
      <i class="material-icons" ng-click="showParallax2 = !showParallax2">reorder</i>
    </div>
    <div class="parallax-container" ng-if="showParallax2" style="margin: 20px 0; height: auto">
      <div>hello</div>
    </div>
  </li>
</ul>




<div>
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="team in teams">
      <div class="collapsible-header" ng-click="getExplain()">
        <img ng-src="{{team.logoUrl||'/lib/img/logo.jpg'}}" style="width:3rem">

        <p style="margin:0;display:inline-block;padding:0 15px">
          <span ng-bind="team.name"></span>
          <br>
          <span ng-bind="team.dynamic"></span>
        </p>
      </div>
      <div class="collapsible-body">
        <p ng-bind-html="team.explain">
        </p>
      </div>
    </li>
  </ul>
</div>

<!--底部bar等高div-->
<div class="bottomBar"></div>
<footer>
  <div class="row">
    <div class="col s12">
      <ul class="tabs1">
        <li class="newtab col s3"><a href="/">首页</a></li>
        <li class="newtab col s3"><a href="/myTeam">我的团队</a></li>
        <li class="newtab col s3"><a href="/search">搜索</a></li>
        <li class="newtab col s3"><a href="/home">个人中心</a></li>
      </ul>
    </div>
  </div>
</footer>
