<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">where R U</a>
      <span class="nav-wrapper right" style="padding: 0 15px">
        <i class="material-icons">loop</i>
      </span>
    </div>
  </nav>
</header>


<!--顶部滑动框-->
<div slider height='200' transition='400'>
  <ul class="slides">
    <li>
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</div>

<!--竞赛滑动条-->
<div class="competition">
  <div class="allContent">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
    <img src="/lib/img/test1.png">
  </div>
</div>


<!--队伍信息-->
<div class="teamInfo">
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="single in collapsibleElements">
      <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
      <div class="collapsible-body"><p>{{single.content}}</p></div>
    </li>
  </ul>
</div>

<div>
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="team in teams">
      <div class="collapsible-header" ng-click="getExplain()">
        <img ng-src="{{team.logoUrl||'/lib/img/logo.jpg'}}" style="width:3rem">

        <p style="margin:0;display:inline-block;padding:0 15px">
          <span ng-bind="team.name"></span>
          <br>
          <span ng-bind="team.dynamic"></span>
        </p>
      </div>
      <div class="collapsible-body">
        <p ng-bind-html="team.explain">
        </p>
      </div>
    </li>
  </ul>
</div>

<!--底部bar等高div-->
<div class="bottomBar"></div>
<footer>
  <div class="row">
    <div class="col s12">
      <ul class="tabs1">
        <li class="newtab col s3"><a href="/">首页</a></li>
        <li class="newtab col s3"><a href="/myTeam">我的团队</a></li>
        <li class="newtab col s3"><a href="/search">搜索</a></li>
        <li class="newtab col s3"><a href="/home">个人中心</a></li>
      </ul>
    </div>
  </div>
</footer>