<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">where R U</a>
      <span class="nav-wrapper right" style="padding: 0 15px">
        <i class="material-icons">loop</i>
      </span>
    </div>
  </nav>
  <div class="top-bar"></div>
</header>

  <!--顶部滑动框-->
  <div slider class="slider" height='200' transition='400'>
    <ul class="slides">
      <li>
        <a ng-href="/events/{{events[0].id}}/explains">
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <!-- <h3>This is our big Tagline!</h3> -->
            <h5 class="light grey-text text-lighten-3" ng-bind="events[0].name"></h5>
          </div>
        </a>
      </li>
      <li>
        <a ng-href="/events/{{events[1].id}}/explains">
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <!-- <h3>This is our big Tagline!</h3> -->
            <h5 class="light grey-text text-lighten-3" ng-bind="events[1].name"></h5>
          </div>
        </a>
      </li>
      <li>
        <a ng-href="/events/{{events[2].id}}/explains">
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <!-- <h3>This is our big Tagline!</h3> -->
            <h5 class="light grey-text text-lighten-3" ng-bind="events[2].name"></h5>
          </div>
        </a>
      </li>
      <li>
        <a ng-href="/events/{{events[3].id}}/explains">
          <img src="http://lorempixel.com/580/250/nature/1"> <!-- random image -->
          <div class="caption center-align">
            <!-- <h3>This is our big Tagline!</h3> -->
            <h5 class="light grey-text text-lighten-3" ng-bind="events[3].name"></h5>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <ul class="competition">
    <li class="sli" ng-repeat="event in events">
      <a ng-href="events/{{event.id}}/explains">
        <img src="../lib/img/test1.png" alt="无法显示"/>
        <br>
        <div class="text-center">
          <h6  ng-bind="event.name"></h6>
        </div>
      </a>
    </li>
  </ul>
  <!--队伍信息-->
  <ul class="collection">
    <li class="collection-item avatar">
      <img src="../lib/img/test1.png" alt="" class="circle">
      <span class="title">团队名称</span>
      <p>公告标题 <br>
        通知正文
      </p>
      <div class="secondary-content" ng-init="showParallax1 = false">
        <i class="material-icons" ng-click="showParallax1 = !showParallax1">reorder</i>
      </div>
      <div class="parallax-container" ng-if="showParallax1" style="margin: 20px 0; height: auto">
        <div>hello</div>
      </div>
    </li>
    <li class="collection-item avatar">
      <img src="../lib/img/test1.png" alt="" class="circle">
      <span class="title">团队名称</span>
      <p>公告标题 <br>
        通知正文
      </p>
      <div class="secondary-content" ng-init="showParallax2 = false">
        <i class="material-icons" ng-click="showParallax2 = !showParallax2">reorder</i>
      </div>
      <div class="parallax-container" ng-if="showParallax2" style="margin: 20px 0; height: auto">
        <div>hello</div>
      </div>
    </li>
    <li class="collection-item avatar">
      <img src="../lib/img/test1.png" alt="" class="circle">
      <span class="title">团队名称</span>
      <p>公告标题 <br>
        通知正文
      </p>
      <div class="secondary-content" ng-init="showParallax2 = false">
        <i class="material-icons" ng-click="showParallax2 = !showParallax2">reorder</i>
      </div>
      <div class="parallax-container" ng-if="showParallax2" style="margin: 20px 0; height: auto">
        <div>hello</div>
      </div>
    </li>
  </ul>
  <div>
    <ul class="collapsible popout" data-collapsible="accordion" watch>
      <li ng-repeat="team in teams">
        <div class="collapsible-header" ng-click="getExplain()">
          <img ng-src="{{team.logoUrl||'/lib/img/logo.jpg'}}" style="width:3rem">

          <p style="margin:0;display:inline-block;padding:0 15px">
            <span ng-bind="team.name"></span>
            <br>
            <span ng-bind="team.dynamic"></span>
          </p>
        </div>
        <div class="collapsible-body">
          <p ng-bind-html="team.explain">
          </p>
        </div>
      </li>
    </ul>
  </div>
<footer>
  <div class="fragment">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3 waves-effect waves-light">
          <a href="/"><b class="tab-active">首页</b></a>
        </li>
        <li class="tab col s3 waves-effect waves-light">
          <a href="/myTeam">我的团队</a>
        </li>
        <li class="tab col s3 waves-effect waves-light">
          <a href="/search">搜索</a>
        </li>
        <li class="tab col s3 waves-effect waves-light">
          <a href="/home">个人中心</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--底部bar等高div-->
<div class="bottomBar"></div>
