<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Logo</a>
    <ul class="right">
      <li>
        <a class='' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
            <i class="material-icons">add</i>
        </a>
        <ul id="demoDropdown" class="dropdown-content">
          <li><a href="/myTeam/createTeam">创建团队</a></li>
          <li class="divider"></li>
          <li><a href="/myTeam/findTeam">寻找团队</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div>
  <ul class="collection">
    <li class="collection-item avatar" 
            ng-repeat="team in teams">
      <a ng-href="{{'/myTeam/' + team.id}}">
        <img ng-src="{{team.logoUrl}}" class="circle">
        <span class="title" ng-bind="team.name"></span>
        <p ng-bind="team.dynamic">
        </p>
      </a>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>
