<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Logo</a>
    <ul class="right">
      <li>
        <a class='' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
          <i class="material-icons">add</i>
        </a>
        <ul id="demoDropdown" class="dropdown-content">
          <li><a href="/myTeam/createTeam">创建团队</a></li>
          <li class="divider"></li>
          <li><a href="/myTeam/findTeam">寻找团队</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>


<ul class="collection">
  <li class="collection-item">
    <span>
      <img class="col s6 myTeamImg" src="/lib/img/test1.png">
      <span class="myTeamName">

        <span id="modals" ng-init="dummyInputs.modalInput = 'Modal header'">
          <!-- Modal Trigger -->
          <span class="col">
            <a class='btn' href='#demoModal' modal>SOS团</a>
          </span>
          <!-- Modal Structure -->
          <span id="demoModal" class="modal">
            <span class="modal-content">


              <!--添加的内容-->
              <ul class="collection">
                <li class="collection-item avatar">
                  <img src="/lib/img/logo.jpg" alt="" class="circle">
                  <span>简介:这是一个lxxx的团队.</span>
                </li>

                <li class="collection-item avatar" style="padding:0">
                  <ul class="collapsible popout" data-collapsible="accordion" watch>
                    <li ng-repeat="single in collapsibleElements">
                      <div class="collapsible-header"><i class="{{single.icon}}"></i>{{single.title}}</div>
                      <div class="collapsible-body"><p>{{single.content}}</p></div>
                    </li>
                  </ul>
                </li>

                <li class="collection-item">团队成员</li>
                <li class="collection-item">XX项目</li>
                <li class="collection-item">OO项目</li>
              </ul>


            </span>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">好的.</a>
            </div>
          </span>
        </span>
      </span>
    </span>
  </li>
</ul>


<div>
  <ul class="collection">
    <li class="collection-item avatar"
        ng-repeat="team in teams">
      <a ng-href="{{'/myTeam/' + team.id}}">
        <img ng-src="{{team.logoUrl}}" class="circle">
        <span class="title" ng-bind="team.name"></span>

        <p ng-bind="team.dynamic">
        </p>
      </a>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>
