<div class="row">
  <div class="row">
    <div class="input-field">
      <input id="phone" type="text" ng-model="user.phone">
      <label for="phone">手机号</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field">
      <input id="password" type="password" ng-model="user.password">
      <label for="password">密码</label>
    </div>
  </div>
  <div class="input-field col s12 m12">
    <select class="" ng-model="user.school" material-select watch>
      <option value="" disabled selected>选择你的学校</option>
      <option ng-repeat="school in schools">{{school.name}}</option>
    </select>
    <label>选择你的学校</label>
  </div>
</div>
<a class="waves-effect waves-light btn" ng-click="signUp()">sign in</a>