<h4 class="left">竞赛管理</h4>
<a href="#addEvent" modal class="addEvent waves-effect waves-light btn right"><i class="material-icons right">add</i>新建竞赛</a>
<div class="clearfix"></div>
<!-- 新建竞赛的Modal -->
<div id="addEvent" class="modal">
  <div class="modal-content">
    <h4>新建竞赛</h4>
    <br>

    <div>
      <div input-field>
        <input id="eventName" type="text" class="validate" ng-model="contest.name">
        <label for="eventName">竞赛名称</label>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛介绍文档</span>
          <input type="file" id="explainDoc">
        </div>
        <div class="file-path-wrapper">
          <input ng-model="explainDoc" ng-change="explainDocLoad()" class="file-path validate" type="text"
                 placeholder="点我上传介绍文档（.doc）">
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛流程文件</span>
          <input type="file" id="processDoc">
        </div>
        <div class="file-path-wrapper">
          <input ng-model="processDoc" ng-change="processDocLoad()" class="file-path validate" type="text"
                 placeholder="点我上传竞赛流程文件（.doc）">
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛规则文件</span>
          <input type="file" id="ruleDoc">
        </div>
        <div class="file-path-wrapper">
          <input ng-model="ruleDoc" ng-change="ruleDocLoad()" class="file-path validate" type="text"
                 placeholder="点我上传竞赛规则文件（.doc）">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action waves-effect waves-light btn orange darken-4" ng-click="addContest()"><i
      class="material-icons right">done</i>创建竞赛</a>
    <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>

  </div>
</div>
<div>
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="single in contestLists" ng-click="loadContest($index)">
      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>{{single.name}}</div>
      <div class="collapsible-body">
        <div class="col s12">
          <ul class="tabs" tabs>
            <li ng-click="toContestTeam()" class="tab col s3 waves-effect"><a href="#">参赛队伍</a></li>
            <li ng-click="toContestNotice()" class="tab col s3 waves-effect"><a href="#">通知管理</a></li>
            <li ng-click="toContestLibrary($index)" class="tab col s3 waves-effect"><a href="#">资料库</a></li>
            <li ng-click="toContestSetting()" class="tab col s3 waves-effect"><a href="#">竞赛设置</a></li>
          </ul>
          <div id="contentView">
            <!--参赛队伍-->
            <div class="row">
              <div class="col s12 m3" ng-repeat="project in projects"
                   ng-show="(project._projectResults[0].contestId === single.id) && (contentType === 'contestTeam')">
                <div class="card">
                  <div class="card-content">
                    <span class="card-title">基于saas的活动云平台</span>
                    <hr>
                    <p>负责人：<span>李畅</span></p>

                    <p>指导老师：<span>张建海</span></p>

                    <p>所属领域：<span>信息技术与电子商务类</span></p>

                    <p>团队人数：<span>8</span>人</p>
                  </div>
                  <div class="card-action">
                    <a class="activator" href="#">更多信息<i class="material-icons right">more_vert</i></a>
                  </div>
                  <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">更多信息<i
                        class="material-icons right">close</i></span>

                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>

                </div>
              </div>

              <div class="col s12 m12" ng-show="contentType === 'contestNotice'">
                <div class="container">
                  <div input-field>
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="newNoticeTitle" ng-model="newNotice.title" type="text" class="validate">
                    <label for="newNoticeTitle">新通知标题</label>
                  </div>
                  <div input-field class="newNoticeContent">
                    <textarea id="newNoticeContent" ng-model="newNotice.content"
                              class="materialize-textarea"></textarea>
                    <label for="newNoticeContent">新通知内容</label>
                  </div>
                  <div class="addFile left">
                    <a class="waves-effect waves-light btn light-blue darken-2"
                       ng-click="uploadAttachment = !uploadAttachment;addGetInfo = false">上传附件</a>
                    <a class="waves-effect waves-light btn light-blue darken-2"
                       ng-click="addGetInfo = !addGetInfo;uploadAttachment = false">资料收集</a>
                    <a class="waves-effect waves-light btn light-blue darken-2">资料库选择</a>

                    <div ng-show="uploadAttachment" class="file-field input-field">
                      <div class="btn">
                        <span>点击上传附件</span>
                        <input type="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input ng-model="explainDoc" ng-change="explainDocLoad()" class="file-path validate" type="text"
                               placeholder="点我上传附件">
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <div ng-show="addGetInfo" class="card addGetInfo">
                    <div class="card-content">
                      <label for="inputCreated">截止日期</label>
                      <input input-date
                             type="text"
                             name="created"
                             id="inputCreated"
                             ng-model="deadline.time"
                             container="body"
                             format="yyyy/mm/dd"
                             months-full="{{ month }}"
                             months-short="{{ monthShort }}"
                             weekdays-full="{{ weekdaysFull }}"
                             weekdays-short="{{ weekdaysShort }}"
                             weekdays-letter="{{ weekdaysLetter }}"
                             min="{{ minDate }}"
                             today="today"
                             clear="clear"
                             close="close"
                             select-years="15">

                      <div class="row">
                        <div class="col s12" input-field>
                          <i class="material-icons prefix">label_outline</i>
                          <input id="geiInfoFile" type="text" class="validate">
                          <label for="geiInfoFile">需要收集的文件名称</label>
                        </div>
                        <div class="col s12" input-field>
                          <i class="material-icons prefix">label_outline</i>
                          <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
                          <label>该文件的描述</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <a class="waves-effect waves-light right btn orange darken-4">发送通知</a>

                  <div class="clearfix"></div>
                  <br>

                  <!--发送过的通知-->
                  <ul class="collection">
                    <li class="collection-header"><h4>发送的通知</h4></li>
                    <li class="collection-item avatar">
                      <a class="collection-item">
                        <span class="title">2015/11/20</span>

                        <h6>通知标题</h6>

                        <p>通知内容通知内容通知内容通知内容通知内容通知内容</p>
                      </a>
                    </li>
                    <li class="collection-item avatar">
                      <a class="collection-item">
                        <span class="title">2015/11/19</span>

                        <h6>通知标题</h6>

                        <p>通知内容通知内容通知内容通知内容通知内容通知内容</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col s12 m12" ng-show="contentType === 'contestLibrary'">
                <div class="container">
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>添加资料</span>
                      <input type="file" id="{{'addMaterialDoc' + $index}}">
                    </div>
                    <div class="file-path-wrapper">
                      <input ng-model="addMaterialDoc" class="file-path validate" type="text"
                             placeholder="点我添加文件（.doc）" ng-change="materialLoad($index)">
                    </div>
                  </div>
                  <a href="" class="waves-effect waves-light btn right orange darken-4"
                     ng-click="creatMaterial($index)"><i
                    class="material-icons right">add</i>上传资料</a>

                  <div class="clearfix"></div>
                  <ul class="collection">
                    <li class="collection-header">
                      <h4>资料库</h4>
                    </li>
                    <li class="collection-item" ng-repeat="material in materialList track by $index">
                      <span class="title">{{material.createAt | date : 'yyyy-MM-dd hh:mm:ss'}}</span>
                      <br>

                      <p class="margin-left">
                        <a target="_blank" ng-href="{{material.dataUrl}}">{{material.name}}</a>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col s12 m12" ng-show="contentType === 'contestSetting'">
                <div class="container">
                  <h4 class="left">竞赛设置</h4>
                  <a class="addEvent waves-effect waves-light btn red darken-1 right"
                     ng-href="{{'#deleteConfirm' + $index}}" modal>删除竞赛</a>
                  <!-- 确认删除 -->
                  <div id="{{'deleteConfirm' + $index}}" class="modal">
                    <div class="modal-content">
                      <h4>确认删除？</h4>

                      <p class="text-center"><i class="material-icons">warning</i> 删除后不可恢复！</p>
                    </div>
                    <div class="modal-footer">
                      <a ng-click="deleteContest($index)" href=""
                         class="whiteColor modal-action waves-effect waves-green btn-flat red darken-1">确认删除</a>
                      <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
                    </div>
                  </div>
                  <div class="clearfix"></div>

                  <div input-field>
                    <input id="{{'changeEventName' + $index}}" type="text" class="validate"
                           ng-model="changeEvent[$index].name">
                    <label for="{{'changeEventName' + $index}}">竞赛名称</label>
                  </div>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>竞赛介绍文档</span>
                      <input type="file" id="{{'changeExplainDoc' + $index}}">
                    </div>
                    <div class="file-path-wrapper">
                      <input ng-model="changeExplainDoc" ng-change="updateExplainDoc($index)"
                             class="file-path validate" type="text"
                             placeholder="点我更新介绍文档（.doc）">
                    </div>
                  </div>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>竞赛流程文件</span>
                      <input type="file" id="{{'changeProcessDoc' + $index}}">
                    </div>
                    <div class="file-path-wrapper">
                      <input ng-model="changeProcessDoc" ng-change="updateProcessDoc($index)"
                             class="file-path validate" type="text"
                             placeholder="点我更新竞赛流程文件（.doc）">
                    </div>
                  </div>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>竞赛规则文件</span>
                      <input type="file" id="{{'changeRuleDoc' + $index}}">
                    </div>
                    <div class="file-path-wrapper">
                      <input ng-model="changeRuleDoc" ng-change="updateRuleDoc($index)" class="file-path validate"
                             type="text"
                             placeholder="点我更新竞赛规则文件（.doc）">
                    </div>
                  </div>
                  <small>只需上传需要更新的文件，不上传即用原来的文件</small>
                  <a href="#" class="waves-effect waves-light btn orange darken-4 right"
                     ng-click="updateEvent($index)">更新竞赛</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>


