<h4 class="left">竞赛管理</h4>
<a href="#addEvent" modal class="addEvent waves-effect waves-light btn right"><i class="material-icons right">add</i>新建竞赛</a>
<div class="clearfix"></div>
<!-- 新建竞赛的Modal -->
<div id="addEvent" class="modal">
  <div class="modal-content">
    <h4>新建竞赛</h4>
    <br>
    <div input-field>
      <div>
        <input id="eventName" type="text" class="validate">
        <label for="eventName">竞赛名称</label>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛介绍文档</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="点我上传介绍文档（.doc）">
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛流程文件</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="点我上传竞赛流程文件（.doc）">
        </div>
      </div>
      <div class="file-field input-field">
        <div class="btn">
          <span>竞赛规则文件</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="点我上传竞赛规则文件（.doc）">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="modal-action waves-effect waves-light btn orange darken-4"><i class="material-icons right">done</i>创建竞赛</a>
  </div>
</div>
<div>
  <ul class="collapsible popout" data-collapsible="accordion" watch>
    <li ng-repeat="single in collapsibleElements">
      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>{{single.title}}</div>
      <div class="collapsible-body">
        <div class="">
          <div class="col s12">
            <ul class="tabs" tabs>
              <li class="tab col s3 waves-effect"><a class="active" href="#">参赛队伍</a></li>
              <li class="tab col s3 waves-effect"><a href="#">通知记录</a></li>
              <li class="tab col s3 waves-effect"><a href="#">资料库</a></li>
              <li class="tab col s3 waves-effect"><a href="#">竞赛设置</a></li>
            </ul>
          </div>
      </div>
    </li>
  </ul>
</div>