<div class="row">
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <input id="name" type="text" ng-model="orgChange.name">
    <label for="name">主办方名称</label>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">room</i>
    <input id="school" type="text" ng-model="orgChange.school">
    <label for="school">学校（选填）</label>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">phone</i>
    <input id="phone" type="text" ng-model="orgChange.phone">
    <label for="phone">手机长号</label>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">email</i>
    <input id="email" type="text" ng-model="orgChange.email">
    <label for="email">邮箱</label>
  </div>
</div>
<a href="#" class="waves-effect waves-light btn orange darken-4 right"
   ng-click="updateOrgInfo()">更新资料</a>
