<h4 class="left">竞赛管理后台登陆</h4>
<div class="clearfix"></div>
<div class="row">
  <div class="input-field">
    <i class="material-icons prefix">account_circle</i>
    <input id="email" type="text" ng-model="org.email">
    <label for="email">邮箱</label>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">vpn_key</i>
    <input id="password" type="password" ng-model="org.password">
    <label for="password">密码</label>
  </div>
</div>
<a class="waves-effect waves-light btn loginBtn" ng-click="login()">登陆</a>
<a class="waves-effect waves-light btn loginBtn orange darken-1" href="/eventManage/reg">注册</a>
