<h5 class="left">成员：<span>9</span></h5>
<a href="" class="addMember waves-effect waves-light btn right"><i class="mdi-content-add right"></i>邀请新成员</a>
<div class="clearfix"></div>
<hr>
<div class="row">
  <div class="col s12 m4">
    <div class="card waves-effect waves-block">
      <div class="card-content">
        <img class="left" width="55px" height="55px" src="/lib/img/logo.jpg">
        <div class="left memberInfo">
          <span>刘某某</span>
          <br>
          <p class="telSpan">18868462212</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

