<div class="card article" ng-controller="ArticlesController" ng-repeat="article in articles">
	<a href="/u/{{article.user.id}}">
		<h4 class="author">
			<img ng-src="{{article.user.headImgUrl}}">
			<span ng-bind="article.user.name"></span>
		</h4>
	</a>
	<div class="card-content">
		<h4 ng-bind="article.title"></h4>
		<ng-include src="article.contentUrl"></ng-include>
	</div>
	<div class="card-action">
		<div class="waves-effect text-center action">
      <a href="/w/articles/{{article.id}}" class="orange-text">
        <i class="mdi-action-visibility"></i>阅读原文
      </a>
    </div>
    <div class="waves-effect text-center action" ng-click="loadComment()">
      <a href="" class="black-text">
        <i class="mdi-communication-comment"></i>评论(<span ng-bind="article.commentCount"></span>)
      </a>
    </div>
    <div class="waves-effect text-center action">
      <a href="" class="red-text" ng-show="article.islike">
        <i class="mdi-toggle-star"></i>收藏(<span ng-bind="article.likeCount"></span>)
      </a>
      <a href="" class="red-text" ng-show="!article.islike" ng-click="addLike()">
        <i class="mdi-toggle-star-border"></i>收藏(<span ng-bind="article.likeCount"></span>)
      </a>
    </div>
	</div>
	<ng-include src="'/application/views/coterie/comments.html'"></ng-include>
</div>