<div class="container row coterie">
  <div class="card article">
    <a href="/u/detail/{{article.user.id}}">
      <h4 class="author">
        <img ng-src="{{article.user.headImgUrl}}">
        <span ng-bind="article.user.name"></span>
      </h4>
    </a>
    <div class="card-content" style="max-height: 100%">
      <h4 ng-bind="article.title"></h4>
      <ng-include src="article.contentUrl"></ng-include>
    </div>
    <div class="card-action col s12 margin-top">
      <div class="text-center col s6 m2" ng-click="loadComment()">
        <a class="black-text">
          <i class="mdi-action-visibility"></i> 阅读量 (<span ng-bind="article.readerCount"></span>)
        </a>
      </div>
      <div class="waves-effect text-center col s6 m2">
        <a href="" class="red-text" ng-show="article.islike" ng-click="deleteLike()">
          <i class="mdi-toggle-star"></i> 取消收藏 (<span ng-bind="article.likeCount"></span>)
        </a>
        <a href="" class="red-text" ng-show="!article.islike" ng-click="addLike()">
          <i class="mdi-toggle-star"></i> 收藏 (<span ng-bind="article.likeCount"></span>)
        </a>
      </div>
    </div>
    <div class="clearfix"></div>
    <ng-include src="'/application/views/coterie/comments.html'"></ng-include>
  </div>
</div>
