<div ng-show="article.showCommentBox" ng-controller="CommentsController" class="comments-section">
	<ul class="collapsible avatar" data-collapsible="accordion" watch>
		<li >
			<div class="comment-area">
				<img src="/lib/icon/edit.png" alt="" class="circle">
	      <span class="title">写评论</span>
	      <div>
	      	<div input-field>
				    <textarea ng-model="article.writingCommentContent" class="materialize-textarea" ></textarea>
					</div>
					<a href="" class="btn waves-effect waves-light red" ng-click="createComment()">发布</a>
				</div>
			</div>
		</li>
    <li ng-repeat="comment in article.comments">
      <div class="collapsible-header">
      	<img ng-src="{{comment.user.headImgUrl}}@1e_1c_0o_0l_100h_100w_100q.src" alt="" class="circle">
      	<span class="title" ng-bind="comment.user.name"></span>
      	<p ng-click="loadReply()">
      		<time class="green-text" ng-bind="comment.created | date: 'yyyy-MM-dd HH:mm:ss'"></time>
      		<br>
          {{comment.content}}
         	<a href="" class="reply">
	        	<i class="mdi-content-reply"></i>(<span ng-bind="comment.replyCount"></span>)
	        </a>
      </p>
      </div>
      <div class="collapsible-body">
				<ul class="collection">
	      	<li class="collection-item" ng-repeat="reply in comment.replys">
	      		<span class="title" ng-bind="reply.user.name"></span>
	      		<p>
	      			<time class="green-text" ng-bind="reply.created | date: 'yyyy-MM-dd HH:mm:ss'"></time>
	      			<br>
	      			{{reply.content}}
	      		</p>
	      	</li>
	      	<li class="collection-item">
			      <span class="title">写回复</span>
			      <div input-field>
					    <textarea ng-model="comment.writingReplyContent" class="materialize-textarea" ></textarea>
						</div>
						<a href="" class="btn waves-effect waves-light red" ng-click="createReply()">提交</a>
	    		</li>
	      </ul>
      </div>
    </li>
	</ul>
</div>