<div ng-show="article.showCommentBox" ng-controller="CommentsController" class="comments-section">
  <ul class="collapsible avatar" data-collapsible="accordion" watch>
    <li>
      <div class="comment-area">
        <img src="/lib/icon/edit.png" alt="" class="circle">
        <span class="title">写评论</span>
        <a href="" class="waves-effect" style="
				    position: absolute;
				    right: 20px;
				    top: 20px;
				" ng-click="reload()" class="title">
          <i class="mdi-action-autorenew"></i> 刷新
        </a>
        <div>
          <div input-field>
            <textarea ng-model="article.writingCommentContent" class="materialize-textarea no-pad-top"></textarea>
          </div>
          <a href="" class="btn waves-effect waves-light red" ng-click="createComment()">发布</a>
        </div>
      </div>
    </li>
    <li ng-repeat="comment in article.comments">
      <div class="collapsible-header">
        <a href="/u/detail/{{comment.user.id}}"><img ng-src="{{comment.user.headImgUrl}}" alt="" class="circle"></a>
        <a href="/u/detail/{{comment.user.id}}" class="black-text"><span class="title" ng-bind="comment.user.name"></span></a>
        <p ng-click="loadReply()">
          <time class="green-text" ng-bind="comment.created | date: 'yyyy-MM-dd HH:mm:ss'"></time>
          <br>
          {{comment.content}}
          <a href="" class="reply">
            <i class="mdi-content-reply"></i> (<span ng-bind="comment.replyCount"></span>)
          </a>
        </p>
      </div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item" ng-repeat="reply in comment.replys">
            <span class="title" ng-bind="reply.user.name"></span>
            <p>
              <time class="green-text" ng-bind="reply.created | date: 'yyyy-MM-dd HH:mm:ss'"></time>
              <br>
              {{reply.content}}
            </p>
          </li>
          <li class="collection-item">
            <span class="title">写回复</span>
            <div input-field>
              <textarea ng-model="comment.writingReplyContent" class="materialize-textarea no-pad-top"></textarea>
            </div>
            <a href="" class="btn waves-effect waves-light red" ng-click="createReply()">提交</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
