<div class="row s12 coterie-header">
	<img ng-src="{{coterie.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
  <h4><span ng-bind="coterie.name"></span></h4>
  <a ng-show="!coterie.isAttentioned" href="" class="btn waves-effect waves-light" ng-click="attention()">
  	<i class="mdi-content-add"></i>
  	<span>关注</span>
  </a>
  <a href="/w/articles/{{coterie.id}}/edit" ng-show="coterie.isAttentioned" class="btn waves-effect waves-light">
  	<i class="mdi-editor-mode-edit"></i>
  	<span>写文章</span>
  </a>
</div>
<div class="container row">
	<ng-include src="'/application/views/coterie/articles.html'"></ng-include>
</div>