<div class="container">
  <div class="row s12 coterie-header" style="height: 220px">
    <img ng-src="{{coterie.logoUrl}}">
    <h4><span ng-bind="coterie.name"></span></h4>
  </div>

  <div style="background:#fff">
    <div input-field>
      <input id="name" type="text" style="margin:0" ng-model="article.title" length="11" required>
      <label for="name">|请输入文章标题</label>
    </div>
    <div>
      <div class="ueditor" ng-model="articleEditorContent" config="editorConfig"></div>
    </div>
  </div>
  <div style="margin: 20px" class="center">
    <a href="" class="btn waves-effect waves-light red" ng-click="createArticle()">发布</a>
  </div>
</div>