<div class="row s12 coterie">
  <header>
    <a href="#" data-activates="nav-mobile" class="button-collapse hide-on-large-only" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">
      <i class="mdi-navigation-menu"></i>
    </a>
    <ul id="nav-mobile" class="side-nav fixed">
      <li class="icon-logo ">
        <a href="/">whereRU</a>
      </li>
      <li>
        <a href="#" ng-click="moreCoteries()" ng-bind="moreOrBack"></a>
      </li>
      <li ng-repeat="coterie in coteries">
        <a href="/w/coteries/{{coterie.id}}">
          <h4>
            <img ng-src="{{coterie.logoUrl}}">
            <span ng-bind="coterie.name"></span>
          </h4>
        </a>
      </li>
    </ul>
  </header>
  <div class="coterie-detail">
    <div ui-view></div>
  </div>
</div>

