<h3 class="coterieHeader">
  系统消息
</h3>


<ul class="collapsible popout" data-collapsible="accordion" watch>
  <li ng-repeat="single in systemElements" class="withoutMargin ">
    <div class="collapsible-header coterieSystemMargin">
      <div >
        <span class="font-large bold">
          {{single.title}}
        </span>
        <span>
          {{single.time}}
        </span>
      </div>
      <div>
        <span>
          {{single.shortMessage}}
        </span>
        <span class="right">
          详情请点击
        </span>
      </div>
    </div>
    <div class="collapsible-body"><p>{{single.content}}</p></div>
  </li>
</ul>
