<h3 class="coterieHeader">
  用户消息
</h3>

<ul class="collection">
  <li class="collection-item avatar coterieUserMessageLi" ng-repeat="coterieArticle in coterieArticles">
    <img ng-src="{{coterieArticle.user.headImgUrl}}" alt="无法显示" class="circle">
    <span ng-bind="coterieArticle.user.name"></span>
    <p><span ng-bind="coterieArticle.created|date:'yyyy-MM-dd'"></span>
    <br>
      <div class="title bold">
        <span ng-bind="coterieArticle.title"></span>
      </div>
    <br>
    <div>
      显示内容和其他地阿芳议案一噶asd发生的后发送发送。
    </div>
    </p>
    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
    <a href="#!" class="secondary-content">
      <i class="mdi-action-thumb-up coterieArticleIcons"></i>
      <span ng-bind="coterieArticle.commentCount"></span>
      <span class="coterieSpace"></span>
      <i class="mdi-communication-chat coterieArticleIcons"></i>
      <span ng-bind="coterieArticle.likeCount"></span>
    </a>

  </li>
  <li>

  </li>

</ul>
