<div class="coterieHeader">
  <h3 ng-bind="contentName">

  </h3>
  <div>
    <!--<span class="coterieHeaderRight" ng-bind="coterieConcernedNum.count"></span>-->
    <div class="coterieHeaderRight">
      <!--<span data-toggle="tooltip" data-placement="bottom">-->
        <!--&lt;!&ndash;<i class="mdi-toggle-star-outline coterieConcernStar" ng-click="coterieConcern()" >点击关注哦！</i>&ndash;&gt;-->
        <!-- -->
      <!--</span>-->
      

      关注人数:<span ng-bind="coterieConcernedNum.count"></span>
    </div>

  </div>
</div>




<ul class="collection">
  <li class="collection-item avatar coterieUserMessageLi" ng-repeat="coterieArticle in coterieArticles">
    <img ng-src="{{coterieArticle.user.headImgUrl}}" alt="无法显示" class="circle">
    <span ng-bind="coterieArticle.user.name"></span>
    <p><span ng-bind="coterieArticle.created|date:'yyyy-MM-dd'"></span>
    <br>
      <div class="title bold">
        <span ng-bind="coterieArticle.title"></span>
      </div>
    <br>

    <!--简短信息？暂时无法测试-->
      <!--<div ng-include="'/application/views/coterie/detail.html'"></div>-->
    <div ng-include="'coterieArticle.contentUrl'"></div>

    <div>

      <a ng-href="{{coterieArticle.contentUrl}}">详细信息</a>
    </div>
    </p>

    <a href="#!" class="secondary-content">
      <i class="mdi-action-thumb-up coterieArticleIcons"></i>
      <span ng-bind="coterieArticle.commentCount"></span>
      <span class="coterieSpace"></span>
      <i class="mdi-communication-chat coterieArticleIcons"></i>
      <span ng-bind="coterieArticle.likeCount"></span>
    </a>

  </li>
  <li >


  </li>

</ul>
