<h3 class="coterieHeader">
  用户消息
</h3>

<ul class="collection">
  <li class="collection-item avatar" ng-repeat="coterieArticle in coterieArticles">
    <img src="/application/images/coterie/system.png" alt="无法显示" class="circle">
    <span>毛豆</span>
    <p>1-1 2016
    <br>
      <div class="title bold">
        this is title.
      </div>
    <br>
    <div>
      显示内容和其他地阿芳议案一噶asd发生的后发送发送。
    </div>
    </p>
    <!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
    <a href="#!" class="secondary-content">
      <img src="/application/images/coterie/good.png" style="width: 40px;height: 40px">
      <span>999</span>
      <img src="/application/images/coterie/message.png" style="width: 40px;height: 40px">
      <span>99</span>
    </a>

  </li>
  <li>

  </li>

</ul>
