<div>
  <div class="row s12 detail-menu">
    <ul class="tabs" tabs>
      <li class="tab col s3">
        <a href="#about" class="active">竞赛简介</a>
      </li>
      <li class="tab col s3" ng-click="onClickJoinActivity()">
        <a href="#notice">竞赛通知</a>
      </li>
      <li class="tab col s3" ng-click="onClickJoinActivity()">
        <a href="#teams">参赛团队</a>
      </li>
      <li class="tab col s3">
        <a href="#join">参与竞赛</a>
      </li>
    </ul>
  </div>
  <div id="about">
    <div ng-include="'/application/views/race/about.html'"></div>
  </div>
  <div id="notice">
    <div ng-include="'/application/views/race/notice.html'"></div>
  </div>
  <div id="teams">
    <div ng-include="'/application/views/race/teams.html'"></div>
  </div>
  <div id="join">
    <div ng-include="'/application/views/race/join.html'"></div>
  </div>
</div>