<!-- 手机显示选择 -->
<!-- <nav class="header row hide-on-large-only">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">whereRU</a>
  </div>
</nav> -->
<div class="row menu container">
  <div class="col s4 m3 l2 item ">
    <a href="/w/activities">校园活动</a>
  </div>
  <div class="col s4 m3 l2 item active">
    <a class="active" href="/w/races">校园竞赛</a>
  </div>
  <div class="col s4 m3 l2 item">
    <a href="/w/teams">校园团队</a>
  </div>
</div>

<!--校园竞赛列表-->
<div class="row container">
  <div class="col s12 m6 l3 list"  ng-repeat="raceItem in raceItems">
    <div class="card">
      <div class="card-title">
        <a href="/w/races/{{raceItem.id}}">
          <h4 class="left-align" ng-bind="raceItem.name"></h4>
        </a>
      </div>
        <div class="card-content">
        <h6>
          <a ng-href="/w/teams/{{raceItem.teamId}}">
            <b ng-bind="raceItem.authorName"></b>
          </a>
          <time ng-bind="raceItem.created | date : 'yyyy-MM-dd'"></time>
        </h6>
      </div>
      <div class="card-image">
        <a href="/w/races/{{raceItem.id}}"> 
        <h6>
          <span>报名:</span>
          <time ng-bind="raceItem.created| date:'yy/MM/dd'"></time>
          <span>-</span>
          <time ng-bind="raceItem.ended| date:'yy/MM/dd'"></time>
        </h6>
        <img ng-src="{{raceItem.imgUrl}}">
        </a>
      </div>
    </div>
  </div>
</div>
