<div class="row col s12">
	<h6 class="center">请选择参赛的团队或者<a href="/w/teams/create">新建团队</a></h6>
	<ul class="row col s12">
		<li ng-repeat="team in teams" class="col s12 m6 l3 team-card">
			<div class="card">
        <div class="card-image">
          <img ng-src="{{team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
        </div>
        <div class="card-content team-desc">
            <span class="card-title activator grey-text text-darken-4">
              <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
              <i class="material-icons right">more_vert</i>
            </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
            <i class="material-icons right">close</i>
          </span>
          <p class="team-desc" ng-bind="team.desc"></p>
        </div>
        <div class="card-action">
          <a href="/w/teams/{{team.id}}" ng-bind="team.status ? '正在找人': '不可加入'"></a>
          <input name="teams" type="radio" id="{{team.id}}" ng-init="false"/>
					<label class="right" for="{{team.id}}" ng-click="selectedTeam()"></label>
        </div>
      </div>
			
		</li>
	</ul>
	<div ng-show="teams" class="col s12 center waves-effect btn-flat">
		<a href="" ng-click="joinRace()">确定</a>
	</div>
</div>