<div>
	<ul class="collection">
		<div ng-show="!notices.length" class="center collection-item">
			该竞赛没有发布通知
		</div>
		<li ng-repeat="notice in notices" class="collection-item">
			<time class="green-text" ng-bind="notice.created | date: 'yyyy-MM-dd HH:mm:ss'"></time>
			<p ng-bind="notice.content"></p>
			<div ng-show="notice.attachmentName">
				参赛团队请下载附件<a ng-href="{{notice.attachmentUrl}}">{{notice.attachmentName}}</a>
			</div>
			<div ng-show="notice.fileName">
				参赛团队请在竞赛管理上传《{{notice.fileName}}》
			</div>
			<div ng-show="notice.form">
				参赛团队请在竞赛管理填写表单《{{notice.form.title}}》
			</div>
			
		</li>
	</ul>
</div>