<div>
	<div ng-if="teamId">
		<ng-include src="'/application/views/team/join.html'"></ng-include>
	</div>
	<a ng-show="teamId" class="waves-effect btn red"
		ng-click="joinTeam()">返回
	</a>
	<ul class="row col s12" ng-show="!teamId">
    <li class="col s12 m6 l3 team-card" ng-repeat="team in raceTeams">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            <a href="/w/teams/{{team.id}}"><img ng-src="{{team.logoUrl}}">
            <h4>{{team.name}}</h4></a>
          </div>
          <p ng-bind="team.desc"></p>
        </div>
        <div class="card-action center">
          <a href="" class="btn" ng-click="joinTeam()" ng-disabled="!team.status">申请加入</a>
        </div>
      </div>
    </li>
  </ul>
</div>