<div>
  <div ng-if="!raceTeams.length" class="center z-depth-1">
    还没有团队参与呢
  </div>
  <div ng-show="takePartIn" class="row col s12">
    <div ng-include="'/application/views/race/join.html'"></div>
  </div>
  <a href="" class="join-race btn-floating btn-large waves-effect waves-light red" 
      ng-click="takePartIn = !takePartIn">{{!takePartIn? '参与': '取消'}}</a>
	<ul class="row col s12" ng-show="!takePartIn">
    <li class="col s12 m6 l3 team-card" ng-repeat="team in raceTeams">
      <div class="card">
        <div class="card-image">
          <a href="/w/teams/{{team.id}}">
            <img ng-src="{{team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
            
          </a>
        </div>
        <div class="card-content team-desc">
            <span class="card-title activator grey-text text-darken-4">
              <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
              <i class="material-icons right">more_vert</i>
            </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a href="/w/teams/{{team.id}}"  class="grey-text text-darken-4" ng-bind="team.name"></a>
            <i class="material-icons right">close</i>
          </span>
          <p class="team-desc" ng-bind="team.desc"></p>
        </div>
        <div class="card-action">
          <a href="/w/teams/{{team.id}}" ng-bind="team.status ? '正在找人': '不可加入'"></a>
        </div>
      </div>
    </li>
  </ul>
</div>