@charset "UTF-8";

/*
  以下为index.html的样式或全局样式
*/
body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}
@media only screen and (max-width: 601px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
  }
}
html, body, .wrap {
  height: 100%;
}
body > .wrap {
  height: auto; min-height: 100%;
}
.main {
  padding-bottom: 50px;
}
footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  font-size: 1.2rem;
  padding-top: 15px;
  clear:both;
}

.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}

hr {
  border-top: 1px solid #DDDDDD;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.logo:hover {
  background-color: #ffffff;
}

#front-page-logo {
  height: 80px;
}

#sidebarHr {
  width: 70%;
  margin-top: -10px;
}

.topBar-logo {
  height: 35px;
  margin-top: 10px;
}

.bold {
  padding: 0 !important;
  margin-right: 15px !important;
}

.bold > a {
  font-size: 18px;
}

.side-nav > li {
  text-align: center;
  height: 55px;
}

.side-nav > li > a {
  height: 55px;
  line-height: 55px;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #0288D1;
}

.side-nav > li:hover > a, .side-nav > li.active > a {
  color: #ffffff;
}

.login-out > i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}

/*main {
  padding: 15px 0 15px 0;
  background-color: #FCFCFC;
}*/

@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

.page-footer {
  padding: 0 !important;
}

@media screen and (min-width: 993px) {
  main, nav {
    padding-left: 240px;
  }

  footer {
    margin-left: 240px;
  }
}

@media screen and (max-width: 992px) {
  main, nav {
    padding-left: 0;
  }

  footer {
    margin-left: 0;
  }
}

.card-content > p {
  padding: 5px;
}

.text-center {
  text-align: center;
}

.addLibraryBtn {
  margin-top: -50px;
}

.margin-left {
  margin-left: 15px !important;
}

.orgName {
  margin-top: 30px !important;
  font-size: medium;
}

.brand-logo {
  margin-bottom: 50px !important;
}

.selectMargin {
  margin-left: 45px;
}

.selectGray {
  color: #9E9E9E;
}

.selectBlack {
  color: #272727;
}

/*
  以下部分为list的样式
*/
.addMember {
  margin-top: 7px;
}

.memberInfo {
  margin-left: 15px;
}

.telSpan {
  margin-top: 10px !important;
}

.memberCard {
  height: 150px;
}

.unverifiedName {
  font-size: 20px;
}

.deleteMember {
  cursor: pointer;
  font-size: 20px;
}

.warningText > i {
  font-size: 40px;
}

.item-list {
  height: 300px;
  padding: 10px !important;
}

.addItemBox {
  cursor: pointer;
}

.addItemBox > .item-list > .text-center {
  margin-top: 50px !important;
}

.addItemBox > .item-list > .text-center > i {
  font-size: 100px;
}

.addText {
  color: #858585;
}

.btn-area {
  padding: 0 !important;
  position: relative;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-area > .text-center {
  line-height: 38px;
}

.btn-area > .text-center > a {
  margin: 0;
}

.btn-area .edit-btn {
  position: absolute;
  top: 100%;
  left: 0;
  width: 33.333%;
  height: 40px;
}

.btn-area .result-btn {
  position: absolute;
  top: 100%;
  left: 33.333%;
  width: 33.333%;
  height: 40px;
  border-left: 1px solid rgba(160, 160, 160, 0.2);
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.btn-area .delete-btn {
  position: absolute;
  top: 100%;
  left: 66.666%;
  width: 33.333%;
  height: 40px;
}

/*
  以下为activity的样式
*/
.editField {
  margin-top: 20px;
}

.editField > h5 {
  margin-bottom: 30px;
}

.activityName {
  display: inline-block;
  margin-left: 15px;
}

.explainText {
  color: #858585;
}

.word-wrap {
  word-wrap: break-word
}

/*
  以下为event.list的样式
*/
.viewEvent-btn {
  position: absolute;
  top: 100%;
  left: 0;
  width: 25%;
  height: 40px;
}

.editEvent-btn {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 25%;
  height: 40px;
  border-left: 1px solid rgba(160, 160, 160, 0.2);
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.shareEvent-btn {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 25%;
  height: 40px;
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.deleteEvent-btn {
  position: absolute;
  top: 100%;
  left: 75%;
  width: 25%;
  height: 40px;
}

.card-title {
  line-height: 30px !important;
}

.noticeText {
  font-size: 30px;
  font-weight: 300;
}
.recommend-races li {
      position: relative;
    height: 120px;
    padding: 10px;
    margin: 10px;
}
.recommend-races li h4{
  font-size: 1.5rem;
  line-height: 110%;
  margin: 5px 0;
}
.recommend-races li img{
  width: 100px;
  height: 100px;

}
.recommend-races li .race-info{
  position: absolute;
    top: 10px;
    left: 110px;
    right: 40px;
}
.recommend-races li .join-race{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    width: 40px;
}
.recommend-races li .join-race i{
  padding-top: 35px;
    font-size: 30px;
}
.recommend-races li span{
  display: block;
}
/*
  以下为event.detail的样式
*/
.noticeCollection {
  border: none !important;
}

.collection-item-event {
  padding: 5px !important;
}

.collection-item-event > span {
  margin: 15px !important;
  font-size: 20px;
}

.collection-item-event > section {
  color: #000000 !important;
  padding: 15px !important;
}

.addFile {
  margin-left: 45px;
}

.addGetInfo {
  margin-left: 45px;
}

.teamImg {
  cursor: pointer;
}

.teamImg > img {
  margin: 15px;
}

.teamImg > p {
  font-size: 20px;
}

.bold-text {
  font-weight: bold;
}

.margin-top {
  margin-top: 15px !important;
}

/*
  以下为form.edit的样式
*/
.addFormBtn {
  font-size: 14px !important;
}

.textInputLabel {
  font-size: 1em !important;
  line-height: 50px;
}

.singleChooseItem > .input-field {
  margin-top: 0 !important;
}

.singleChooseItem > .input-field > a {
  height: 30px;
  width: 30px;
  margin-top: 8px;
  z-index: 0 !important;
}

.singleChooseItem > .input-field > a > i {
  height: 30px;
  width: 30px;
  line-height: 31px;
  font-size: 0.7em;
}

.singleChooseItem > .input-field > input {
  margin-bottom: 0 !important;
}

.createFormBtn > .dropdown-content {
  overflow: hidden;
  z-index: 2 !important;
  top: 36px !important;;
}

.createFormBtn {
  position: fixed;
  top: 10px;
}

.bottomBtn {
  margin-bottom: 50px;
}

.noFormNotice {
  min-height: 200px;
}

.editFormAllBtn {
  z-index: 0 !important;
}

.nobr-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.dropdown-content {
  top: 0 !important;
}

/*
  以下为setting的样式
*/
.switch{
  line-height: 3rem;
  font-size: 1rem;
  color: #9e9e9e;
}
.switch>span{
  padding-right: 20px;
}
