body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}

/*.brand-logo {*/
/*margin: 15px;*/
/*}*/

.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}

hr {
  border-top: 1px solid #DDDDDD;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.logo:hover {
  background-color: #ffffff;
}

#front-page-logo {
  height: 80px;
}

#sidebarHr {
  width: 70%;
  margin-top: -10px;
}

.topBar-logo {
  height: 35px;
  margin-top: 10px;
}

.bold {
  padding: 0 !important;
  margin-right: 15px !important;
}

.bold > a {
  font-size: 18px;
}

.side-nav > li {
  text-align: center;
  height: 55px;
}

.side-nav > li > a {
  height: 55px;
  line-height: 55px;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #0288D1;
}

.side-nav > li:hover > a, .side-nav > li.active > a {
  color: #ffffff;
}

.login-out > i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}

main {
  padding: 15px 0 15px 0;
  background-color: #FCFCFC;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

.page-footer {
  padding: 0 !important;
}

@media screen and (min-width: 993px) {
  main, nav {
    padding-left: 240px;
  }

  footer {
    margin-left: 240px;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  main, nav {
    padding-left: 0;
  }

  footer {
    margin-left: 0;
    margin-top: 0 !important;
  }
}

.addEvent {
  margin-top: 17px;
}

.collapsible-body > .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card-action > .activator > .material-icons {
  margin-top: -5px;
}

.card-content > p {
  padding: 5px;
}

#eventMain {
  padding: 15px;
}

#contentView {
  padding: 15px;
}

.autoLogin {
  margin-left: 45px;
}

.loginBtn {
  margin-left: 30px;
}

.addFile {
  margin-left: 45px;
}

.addGetInfo {
  margin-left: 45px;
}

.text-center {
  text-align: center;
}

.newNoticeContent {
  margin-left: 45px;
}

.collection-item {
  padding: 5px !important;
}

.noticeSingle {
  cursor: default !important;
}

.collection-item > span{
  margin: 15px !important;
}

.collection-item > p {
  color: #000000 !important;
  padding: 15px !important;
}

.collection-item > h6 {
  padding-left: 15px !important;
}

.addLibraryBtn {
  margin-top: -50px;
}

.whiteColor {
  color: #ffffff !important;
}

.margin-left {
  margin-left: 15px !important;
}

.orgName {
  margin-top: 30px !important;
  font-size: medium;
}

.brand-logo {
  margin-bottom: 50px !important;
}

.selectMargin {
  margin-left: 45px;
}

.selectGray {
  color: #9E9E9E;
}

.selectBlack {
  color: #272727;
}

.noticeText {
  font-size: 30px;
  font-weight: 300;
}

.addMember {
  margin-top: 7px;
}

.memberInfo {
  margin-left: 15px;
}

.telSpan {
  margin-top: 10px !important;
}
