/*以下为index.html的样式或全局样式*/
body {
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
}

.logo {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 80px;
}

hr {
  border-top: 1px solid #DDDDDD;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.logo:hover {
  background-color: #ffffff;
}

#front-page-logo {
  height: 80px;
}

#sidebarHr {
  width: 70%;
  margin-top: -10px;
}

.topBar-logo {
  height: 35px;
  margin-top: 10px;
}

.bold {
  padding: 0 !important;
  margin-right: 15px !important;
}

.bold > a {
  font-size: 18px;
}

.side-nav > li {
  text-align: center;
  height: 55px;
}

.side-nav > li > a {
  height: 55px;
  line-height: 55px;
}

.side-nav li:hover, .side-nav li.active {
  background-color: #0288D1;
}

.side-nav > li:hover > a, .side-nav > li.active > a {
  color: #ffffff;
}

.login-out > i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}

main {
  padding: 15px 0 15px 0;
  background-color: #FCFCFC;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

.page-footer {
  padding: 0 !important;
}

@media screen and (min-width: 993px) {
  main, nav {
    padding-left: 240px;
  }

  footer {
    margin-left: 240px;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 992px) {
  main, nav {
    padding-left: 0;
  }

  footer {
    margin-left: 0;
    margin-top: 0 !important;
  }
}

.addEvent {
  margin-top: 17px;
}

.collapsible-body > .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.card-action > .activator > .material-icons {
  margin-top: -5px;
}

.card-content > p {
  padding: 5px;
}

#eventMain {
  padding: 15px;
}

#contentView {
  padding: 15px;
}

.addFile {
  margin-left: 45px;
}

.addGetInfo {
  margin-left: 45px;
}

.text-center {
  text-align: center;
}

.newNoticeContent {
  margin-left: 45px;
}

.collection-item {
  padding: 5px !important;
}

.noticeSingle {
  cursor: default !important;
}

.collection-item > span {
  margin: 15px !important;
}

.collection-item > p {
  color: #000000 !important;
  padding: 15px !important;
}

.collection-item > h6 {
  padding-left: 15px !important;
}

.addLibraryBtn {
  margin-top: -50px;
}

.whiteColor {
  color: #ffffff !important;
}

.margin-left {
  margin-left: 15px !important;
}

.orgName {
  margin-top: 30px !important;
  font-size: medium;
}

.brand-logo {
  margin-bottom: 50px !important;
}

.selectMargin {
  margin-left: 45px;
}

.selectGray {
  color: #9E9E9E;
}

.selectBlack {
  color: #272727;
}

.noticeText {
  font-size: 30px;
  font-weight: 300;
}

/*以下部分为list的样式*/
.addMember {
  margin-top: 7px;
}

.memberInfo {
  margin-left: 15px;
}

.telSpan {
  margin-top: 10px !important;
}

.memberCard {
  height: 150px;
}

.unverifiedName {
  font-size: 20px;
}

.deleteMember {
  cursor: pointer;
}

.warningText > i {
  font-size: 40px;
}

.item-list {
  height: 300px;
  padding: 10px !important;
}

.addItemBox {
  cursor: pointer;
}

.addItemBox > .item-list > .text-center {
  margin-top: 50px !important;
}

.addItemBox > .item-list > .text-center > i {
  font-size: 100px;
}

.addText {
  color: #858585;
}

.btn-area {
  padding: 0 !important;
  position: relative;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn-area > .text-center {
  line-height: 38px;
}

.btn-area > .text-center > a {
  margin: 0;
}

.btn-area > .text-center > a > .material-icons {
  vertical-align: middle;
}

.btn-area .edit-btn {
  position: absolute;
  top: 100%;
  left: 0;
  width: 33.333%;
  height: 40px;
}

.material-icons {
  display: inline;
}

.btn-area .result-btn {
  position: absolute;
  top: 100%;
  left: 33.333%;
  width: 33.333%;
  height: 40px;
  border-left: 1px solid rgba(160, 160, 160, 0.2);
  border-right: 1px solid rgba(160, 160, 160, 0.2);
}

.btn-area .delete-btn {
  position: absolute;
  top: 100%;
  left: 66.666%;
  width: 33.333%;
  height: 40px;
}

/*以下为activity的样式*/
.editField {
  margin-top: 20px;
}

.editField > h5 {
  margin-bottom: 30px;
}
