<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>jump</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="weixiao/lib/materialize/css/materialize.min.css" rel="stylesheet">
    <link href="weixiao/css/main.css" rel="stylesheet">
</head>
<body ng-controller="JumpController">

<div class="container jump">
    <form name="jump_pg" >
        <h4>WhereRU平台团队ID</h4>
        <input type="text" placeholder="请输入本公众号所绑定的团队ID" ng-model="jumplist.teamId" name="id" required/>
        <div class="error" ng-show="jump_pg.id.$dirty&&jump_pg.id.$invalid">
            <small class="error" ng-show="jump_pg.id.$error.required">
                请在WhereRU平台上获取
            </small>
        </div>
        <button type="submit" ng-disabled="jump_pg.$invalid" class="btn waves-effect waves-light right" ng-click="confirm()">确定</button>
       </form>
</div>
<div class="container">
    <p>如何获取团队id?</p>
    <p>请打开<a href="http://whereru.etuan.org">WhereRU平台</a></p>
    <p>如果你已经是whereRU的用户，请登录创建团队的账号，打开团队主页，复制主页上的teamId到本文本框即可。</p>
    <p>如果你还不是whereRU的用户，请登录whereRU主页，点击右上角登录。在登录后，创建团队，复制团队主页上的teamId到本文本框即可。</p>
</div>
<script src="weixiao/lib/angular/angular.min.js"></script>
<script src="weixiao/lib/jquery/jquery.min.js"></script>
<script src="weixiao/lib/materialize/js/materialize.min.js"></script>
<script src="weixiao/js/jump.js"></script>
</body>
</html>