<html ng-app="app" ng-controller="AdminCtrl">
<head>
  <title>团团一家竞赛管理</title>
  <base href="/eventManage">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/lib/materialize/css/material-icons.css" rel="stylesheet">
  <link href="/lib/materialize/css/materialize.min.css" rel="stylesheet">
  <link href="/admin/css/admin.css" rel="stylesheet">
</head>
<body>
<!--侧边导航-->
<ul class="side-nav fixed z-depth-2" id="sideBar">
  <a class="logo brand-logo" href="/index.html">
    <img id="front-page-logo" src="/lib/img/logo.jpg">
  </a>
  <li id="{{sidebar.id}}" ng-repeat="sidebar in sidebars" ng-class="{active: sidebar.active}" class="bold">
    <a class="waves-effect" href="{{sidebar.url}}" ng-click="redirect($index)">{{sidebar.display_name}}</a>
  </li>
</ul>
<!--头部nav-->
<nav id="nav">
  <div class="nav-wrapper light-blue darken-2">
    <a href="#" data-activates="sideBar" class="button-collapse"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo center"><img class="topBar-logo" src="/lib/img/full-logo-white.png"></a>
    <ul class="right">
      <li>
        <a class="login-out waves-effect" href="#"><i class="material-icons">power_settings_new</i></a>
      </li>
    </ul>
  </div>
</nav>
<!--右侧主要内容-->
<main >
  <div class="container" id="main">
    <div class="col s12" ng-view></div>
  </div>
</main>
<!--底部信息-->
<footer class="page-footer light-blue darken-2" id="footer">
  <div class="footer-copyright">
    <div class="container">
      © 2014-2015 Etuan Studio, All rights reserved.
      <a class="grey-text text-lighten-4 right" href="http://www.etuan.org/">www.etuan.org</a>
    </div>
  </div>
</footer>
<!--底部引入js加快加载速度-->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/materialize/js/materialize.min.js"></script>
<script src="/lib/angular-components/angular-resource.min.js"></script>
<script src="/lib/angular-components/angular-route.min.js"></script>
<script src="/lib/materialize/js/angular-materialize.js"></script>
<script src="/admin/js/admin-route.js"></script>
<script src="/admin/js/admin-controller.js"></script>
<script src="/admin/js/admin-configure.js"></script>

<script>
  $(".button-collapse").sideNav();
</script>
</body>
</html>
