<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">团队管理</a>
      <ul id="nav-mobile">
        <li class="left">
          <a href="/myTeam/:id" style="padding-left:1rem">&lt</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div>
  <ul class="collection">
    <li class="collection-item ">
     团队名称
      <span ></span>
    </li>
  </ul>
</div>





<footer>
  <div class="row">
    <div class="col s12">
      <ul class="tabs1">
        <li class="newtab col s3"><a ng-href="/myTeam/{{teamId}}/manage/messages">通知</a></li>
        <li class="newtab col s3"><a ng-href="/myTeam/{{teamId}}/manage/projects">项目</a></li>
        <li class="newtab col s3"><a ng-href="/myTeam/{{teamId}}/manage/members">成员</a></li>
        <li class="newtab col s3"><a ng-href="/myTeam/{{teamId}}/manage/info">信息</a></li>
      </ul>
    </div>
  </div>
</footer>
