<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo center">团队管理</a>
      <ul id="nav-mobile">
        <li class="left">
          <a href="/myTeam/:id" style="padding-left:1rem">&lt</a>
        </li>
      </ul>
    </div>
  </nav>
</header>


<section id="cd-timeline" class="cd-container">
  <div class="cd-timeline-block">
    <div class="cd-timeline-num green lighten-2 white-text">
      1
    </div>
    <div class="cd-timeline-content">
      <span class="col s5" style="height: 40px!important;font-size: 15px;line-height: 40px;">加入时间:2015/10/1</span>
      <span class="switch" style="float: right;height: 40px!important;line-height: 40px">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </span>
      <ul class="collection" style="margin: 20px 0 10px 0 ;">
        <li class="collection-item" style="border: 0">
          <span>姓名</span>
          <span style="margin-left: 50px">老牛</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学号</span>
          <span style="margin-left: 50px">1305****</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>手机</span>
          <span style="margin-left: 50px">156234645654</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>邮箱</span>
          <span style="margin-left: 50px">8888@qq.com</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学校</span>
          <span style="margin-left: 50px">牛逼学校</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学院</span>
          <span style="margin-left: 50px">牛逼学院</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-num  deep-orange lighten-1 white-text" style="text-align: center;line-height: 40px;">
      2
    </div>
    <div class="cd-timeline-content">
      <span class="col s5" style="height: 40px!important;font-size: 15px;line-height: 40px;">加入时间:2015/10/1</span>
      <span class="switch" style="float: right;height: 40px!important;line-height: 40px">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </span>
      <ul class="collection" style="margin: 20px 0 10px 0 ;">
        <li class="collection-item" style="border: 0">
          <span>姓名</span>
          <span style="margin-left: 50px">老牛</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学号</span>
          <span style="margin-left: 50px">1305****</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>手机</span>
          <span style="margin-left: 50px">156234645654</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>邮箱</span>
          <span style="margin-left: 50px">8888@qq.com</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学校</span>
          <span style="margin-left: 50px">牛逼学校</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学院</span>
          <span style="margin-left: 50px">牛逼学院</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-num green lighten-2 white-text">
      3
    </div>
    <div class="cd-timeline-content">
      <span class="col s5" style="height: 40px!important;font-size: 15px;line-height: 40px;">加入时间:2015/10/1</span>
      <span class="switch" style="float: right;height: 40px!important;line-height: 40px">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </span>
      <ul class="collection" style="margin: 20px 0 10px 0 ;">
        <li class="collection-item" style="border: 0">
          <span>姓名</span>
          <span style="margin-left: 50px">老牛</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学号</span>
          <span style="margin-left: 50px">1305****</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>手机</span>
          <span style="margin-left: 50px">156234645654</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>邮箱</span>
          <span style="margin-left: 50px">8888@qq.com</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学校</span>
          <span style="margin-left: 50px">牛逼学校</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学院</span>
          <span style="margin-left: 50px">牛逼学院</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cd-timeline-block">
    <div class="cd-timeline-num  deep-orange lighten-1 white-text">
      4
    </div>
    <div class="cd-timeline-content">
      <span class="col s5" style="height: 40px!important;font-size: 15px;line-height: 40px;">加入时间:2015/10/1</span>
      <span class="switch" style="float: right;height: 40px!important;line-height: 40px">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </span>
      <ul class="collection" style="margin: 20px 0 10px 0 ;">
        <li class="collection-item" style="border: 0">
          <span>姓名</span>
          <span style="margin-left: 50px">老牛</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学号</span>
          <span style="margin-left: 50px">1305****</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>手机</span>
          <span style="margin-left: 50px">156234645654</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>邮箱</span>
          <span style="margin-left: 50px">8888@qq.com</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学校</span>
          <span style="margin-left: 50px">牛逼学校</span>
        </li>
        <li class="collection-item" style="border: 0">
          <span>学院</span>
          <span style="margin-left: 50px">牛逼学院</span>
        </li>
      </ul>
    </div>
  </div>
</section>


  <footer>
    <div class="row">
      <div class="col s12">
        <ul class="tabs1">
          <li class="newtab col s3 waves-effect waves-light btn-large"><a ng-href="/myTeam/{{teamId}}/manage/messages">通知</a></li>
          <li class="newtab col s3 waves-effect waves-light btn-large"><a ng-href="/myTeam/{{teamId}}/manage/projects">项目</a></li>
          <li class="newtab col s3 waves-effect waves-light btn-large"><a ng-href="/myTeam/{{teamId}}/manage/members">成员</a></li>
          <li class="newtab col s3 waves-effect waves-light btn-large"><a ng-href="/myTeam/{{teamId}}/manage/info">信息</a></li>
        </ul>
      </div>
    </div>
  </footer>
