<!--members.html-->
<header>
  <nav style="position: fixed;
    top: 0;
    z-index: 999;">
    <div class="nav-wrapper">
      <a class="brand-logo center"  ng-bind="teamTop"></a>
      <ul id="nav-mobile">
        <li class="left">
          <a ng-href="/myTeam/{{team.id}}" style="padding-left:1rem">&lt</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div>
  <ul class="collection">
    <li class="collection-item avatar"
        ng-repeat="member in members">
        <p ng-bind="member.name"></p>
      <p ng-bind="member.id"></p>
      <p ng-bind="member.phone"></p>
      <!--<p ng-bind="member.teamId"></p>-->
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
</div>



<!--<div style="color: #0000ed; height: 300px;">aaaaaa</div>-->

