<header>
  <nav>
    <div class="nav-wrapper">
      <ul class="right">
        <li>
          <a class='' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
            <i class="material-icons">add</i>
          </a>
          <ul id="demoDropdown" class="dropdown-content">
            <li><a href="/myTeam/createTeam">创建团队</a></li>
            <li class="divider"></li>
            <li><a href="/myTeam/findTeam">寻找团队</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="top-bar"></div>
</header>
<div class="doc-body">
  <ul class="collection">
    <li class="collection-item avatar small-block-lists"
        ng-repeat="team in teams">
      <img ng-src="{{team.logoUrl}}" class="circle">
      <a ng-href="/chats/{{team.chatId}}/roomId">
        <span class="new badge deep-orange lighten-2" ng-init="chatCount[team.chatId] = 0" ng-bind="chatCount[team.chatId]"></span>
      </a>
      <a ng-href="/myTeam/{{team.id}}">
        <span class="title" ng-bind="team.name"></span>
      </a>
      <p ng-bind="team.dynamic" class="desc">
      </p>
    </li>
  </ul>
</div>


<footer>
  <div class="fragment col s12">
    <ul class="tabs">
      <li class="tab col s3 waves-effect waves-light">
        <a href="/">首页</a>
      </li>
      <li class="tab col s3 waves-effect waves-light">
        <a href="/myTeam"><b class="tab-active">我的团队</b></a>
      </li>
      <li class="tab col s3 waves-effect waves-light">
        <a href="/search">搜索</a>
      </li>
      <li class="tab col s3 waves-effect waves-light">
        <a href="/home">个人中心</a>
      </li>
    </ul>
  </div>
</footer>