<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo left">Logo</a>
    <ul class="right">
      <li>
        <a class='' href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true">
          <i class="material-icons">add</i>
        </a>
        <ul id="demoDropdown" class="dropdown-content">
          <li><a href="/myTeam/createTeam">创建团队</a></li>
          <li class="divider"></li>
          <li><a href="/myTeam/findTeam">寻找团队</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div>
  <ul class="collection">
    <li class="collection-item avatar"
        ng-repeat="team in teams">
      <a ng-href="/myTeam/{{team.id}}">
        <img ng-src="{{team.logoUrl}}" class="circle">
        <span class="new badge deep-orange lighten-2">1</span>
        <span class="title" ng-bind="team.name"></span>

        <p ng-bind="team.dynamic">
        </p>
      </a>

    </li>
  </ul>
</div>



<footer>
  <div class="row">
    <div class="col s12">
      <ul class="tabs1">
        <li class="newtab col s3 waves-effect waves-light btn-large"><a href="/">首页</a></li>
        <li class="newtab col s3 waves-effect waves-light btn-large"><a href="/myTeam">我的团队</a></li>
        <li class="newtab col s3 waves-effect waves-light btn-large"><a href="/search">搜索</a></li>
        <li class="newtab col s3 waves-effect waves-light btn-large"><a href="/home">个人中心</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="bottomBar"></div>
