<header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">团队信息</a>
      <ul id="nav-mobile" class="left">
        <li>
          <i ng-click="goback()" class="material-icons">chevron_left</i>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="teamExplainContent" style="margin-top: 50px;">
  <div class="row">
    <div class="col s12 m8 offset-m2" style="padding: 0">
      <div class="card">
        <h1 class="card-title" style="text-align: center;padding-top:1rem">
          <img ng-src='{{team.logoUrl}}' class="circle" style="height: 3rem;vertical-align:middle;">
          <span ng-bind='team.name' style="vertical-align:middle;margin-top:1rem;"></span>
        </h1>

        <ul class="collection">
          <li class="collection-item">
            <span class="card-title">最新动态</span>
            <span class="new badge deep-orange lighten-2">4+</span>

            <div class="card-content">

              <a href="#!" class="collection-item black-text" >
                <p ng-bind="team.dynamic"></p>

              </a>

            </div>

          </li>
          <li class="collection-item">
            <div style="height: 36px;">
              <span class="card-title" style="line-height: 36px">成员展示</span>
              <a class="btn right">团队成员管理</a>
            </div>


            <div class="card-content" style="padding: 2px 0 10px 0!important;">
              <ul class="collapsible popout" data-collapsible="accordion" watch>
                <li ng-repeat="member in team.members">
                  <div class="collapsible-header">
                    <i class="{{single.icon}}"></i>
                    <span ng-bind="member.name"></span>
                  </div>
                  <div class="collapsible-body">
                    <div class="collection">
                      <a href="#!" class="collection-item">学院：<span ng-bind="member.academy"></span></a>
                      <a href="#!" class="collection-item">电话：<span ng-bind="member.phone"></span></a>
                      <a href="#!" class="collection-item">角色：<span ng-bind="member.role"></span></a>
                      <a href="{{member.UserId}}" class="collection-item right">more</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="collection-item">
            <div style="height: 36px;">
              <span class="card-title" style="line-height: 36px">团队历史</span>
              <a class="btn right">团队信息管理</a>
            </div>


            <div class="card-content">
              <ul>
                <li ng-repeat="history in team.histories">
              <span ng-bind="history.name"><span>
                </li>
              </ul>
            </div>
          </li>
          <li class="collection-item">
            <span class="card-title">图片展示</span>

            <div class="card-image">
              <img ng-repeat="pic in team.pics" ng-src="{{pic}}">
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>


