<!-- /myTeam/:id -->
<header>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo center">团队信息</a>
      <ul id="nav-mobile">
        <li class="left">
          <a href="/myTeam" style="padding-left:1rem">&lt</a>
        </li>
        <li class="right col">
          <a href='#quitTeam' modal>退出</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="top-bar"></div>
</header>

<!-- Modal Structure -->
<div id="quitTeam" class="modal">
    <div class="modal-content center">
        <h4>确定退出吗</h4>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat left">
        确定
      </a>
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat right">
        取消
      </a>
    </div>
</div>



<ul class="collection">
  <li class="collection-item avatar">
      <img ng-src="{{team.logoUrl}}" class="circle">
      <div class="title" ng-bind="team.name"></div>
      <span ng-bind="team.dynamic"></span>

  </li>
  <li class="collection-item">
    <a ng-href="/myTeam/{{team.id}}/manage/messages">
      管理团队
    </a>
  </li>
  <li class="collection-item">
    <a ng-href="/myTeam/{{team.id}}/members">
      团队成员
    </a>
  </li>
  <li class="collection-item">
    <a ng-href="/chats/{{team.chatId}}/roomId">
      团队聊天
    </a>
  </li>
  <li class="collection-item">
    <div>
      已有项目
    </div>
    <div>
      <div class="card-panel white">
        <h5 ng-bind="team.dynamic"></h5>
        <span class="cd-date" style="float: right">2014-12-15</span>
      </div>
      <div class="card-panel white">
        <h5 ng-bind="team.dynamic"></h5>
        <span class="cd-date" style="float: right">2014-12-14</span>
      </div>
      <div class="card-panel white">
        <h5 ng-bind="team.dynamic"></h5>
        <span class="cd-date" style="float: right">2014-12-13</span>
      </div>
      <div class="card-panel white">
        <h5 ng-bind="team.dynamic"></h5>
        <span class="cd-date" style="float: right">2014-12-12</span>
      </div>
    </div>
  </li>
  <li class="collection-item">
    <a ng-href="/myTeam/{{team.id}}/manage/projects">
      添加项目
    </a>
  </li>

</ul>
