<div class="row section-first">
	<!-- <div class="desc" style="background:#000"></div> -->
	<div class="desc activity-desc z-depth-1">
		<h1>校园活动</h1>
		<p>
			问卷调查、报名、投票、抢票、报名、热门活动、校园热点
		</p>
	</div>
	<div class="desc race-desc">
		<h1>校园竞赛</h1>
		<p>校园竞赛再也不错过</p>
	</div>
	<div class="desc team-desc">
		<h1>校园团队</h1>
		<p>学习、打球、旅游、游戏、竞赛、不用担心没伙伴</p>
	</div>
	<div class="desc coterie-desc">
		<h1>校园圈子</h1>
		<p>技术、学习、吃货、自拍、购物寻找自己的圈子、总有一群人和你一起</p>
	</div>
	<div class="desc main-desc">
		<h1>主页</h1>
		<p>fg规划局根据国家当然提高人体格瑞特我让他</p>
	</div>
</div>