<div class="row section-first">
	<div class="col s12 m3 l3">
		
	</div>
	<div class="col s12 m4 l4">
		
	</div>
	<div class="col s12 m5 l5">
		<div class="action-menu">
			<a href="/w/activities">
				<div>
					校园<br>活动
				</div>
				<span>问卷调查、报名、投票、抢票、报名、热门活动、校园热点</span>
			</a>
		</div>
			
		<div class="action-menu">
			<a href="/w/teams">
				<div>
					校园<br>团队
				</div>
				<span>学习、打球、旅游、游戏、竞赛、不用担心没伙伴</span>
			</a>
		</div>
			
		<div class="action-menu">
			<a href="/w/races">
				<div>
					校园<br>竞赛
				</div>
				<span>校园竞赛再也不错过</span>
			</a>
		</div>
			
		<!-- <div class="action-menu">
			<a href=""></a><div>
				校园<br>互助
			</div>
			<span>不想去刷水、取快递、去食堂、不会图片处理、视频制作来这里找大神</span>
		</div> -->
			
		<div class="action-menu">
			<a href="/w/coteries">
				<div>
					校园<br>圈子
				</div>
				<span>技术、学习、吃货、自拍、购物寻找自己的圈子、总有一群人和你一起</span>
			</a>
		</div>
			
	</div>
</div>