<nav>
  <div class="nav-wrapper light-blue darken-2 row">
    <span class="col m2 topBarLeft">
      <a href="#" class="">whereRU</a>
    </span>
    <span class="col m3 topBarCenter input-field">
      <i class="material-icons prefix">search</i>
      <input placeholder="这里输入搜索信息" id="first_name" type="text" class="validate" maxlength="35">
    </span>
    <span class="col m1 " style="float: left;">
      <a class="waves-effect waves-light btn">搜索</a>
    </span>
    <span class="col m6 topBarRight">
      <ul class="right">
        <li><a href="#">服务</a></li>
        <li><a href="#">圈子</a></li>
        <li><a href="#">登录了吗</a></li>
      </ul>
    </span>


  </div>
</nav>

<div class="row">
  <div class="col m2 leftPart">
    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>
    <blockquote>
      This is an example quotation that uses the blockquote tag.
    </blockquote>

    <div class="collection">
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item active">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
    </div>

    <div class="collection">
      <blockquote>
        <a href="#!" class="collection-item">Alvin</a>
      </blockquote>
      <blockquote class="collection-item">
        <a href="#!" class="collection-item">Alvin</a>
      </blockquote>
      <blockquote class="collection-item">
        <a href="#!" class="collection-item">Alvin</a>
      </blockquote>
      <blockquote class="collection-item">
        <a href="#!" class="collection-item">Alvin</a>
      </blockquote>
    </div>

  </div>

  <div class="col m10 rightPart container">
    <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
  </div>
</div>
