<div class="container row">
  <div class="row s12 hide-on-med-and-up card">
    <div class="card-image">
      <img ng-src="{{activity.imgUrl}}@1e_1c_0o_0l_200h_360w_90q.src" style="width:100%" alt="{{activityItem.title}}" err-src="http://img.etuan.org/default.png@1e_1c_0o_0l_200h_360w_90q.src">
      <span class="card-title" ng-bind="activity.title"></span>
    </div>
  </div>
  <div class="row s12 detail-menu">
    <ul class="tabs" tabs>
      <li class="tab col s4 waves-effect">
        <a href="#about" class="active">简介</a>
      </li>
      <li class="tab col s4 waves-effect">
        <a href="#detail">详情</a>
      </li>
      <li class="tab col s4 waves-effect" ng-click="onClickJoinActivity()">
        <a href="#join">参与</a>
      </li>
    </ul>
  </div>
  <div>
    <div id="about">
      <div ng-include="'/application/views/activity/about.html'"></div>
    </div>

    <div id="detail" class="detail-container">
      <div ng-include="activity.explainUrl" ></div>
    </div>
    <div id="join" class="col s12">
      <div ng-if="activity.actType === 'form'" ng-controller="ActivityController">
        <div ng-include="'/application/views/activity/form.html'"></div>
      </div>
      <div ng-if="activity.actType === 'vote'" class="detail-container">
        <div ng-include="'/application/views/activity/vote.html'"  ng-controller="ActivityController"></div>
      </div>
      <div ng-if="activity.actType === 'seckill'">
        <div ng-include="'/application/views/activity/seckill.html'"></div>
      </div>
      <div ng-if="activity.actType === 'common'">
        <div class="center">不需要参与</div>
      </div>
    </div>

  </div>
  <div style="clear: both;">
    <ng-include src="'/application/views/coterie/comments.html'"></ng-include>
  </div>
</div>
