<nav class="header row hide-on-med-and-down">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo col offset-s0 offset-m0 offset-l1">whereRU</a>
    <ul class="col offset-m9 offset-l8">
      <li><a href="/w/activities">服务</a></li>
      <li><a href="/w/coteries">圈子</a></li>
      <li><a href="#">登录</a></li>
    </ul>
  </div>
</nav>
<nav class="header row hide-on-large-only">
  <div class="nav-wrapper">
    <a href="#!" class="col offset-s1 brand-logo">whereRU</a>
    <ul>
      <li>
        <a class="dropdown-button right" href="#!" dropdown data-hover="true"
           data-activates="demoDropdown">{{choice || "全部"}}
          <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <ul id='demoDropdown' class='dropdown-content'>
          <li><a href="javascript:void(0);">最新</a></li>
          <li><a href="javascript:void(0);">进行中</a></li>
          <li><a href="javascript:void(0);">未开始</a></li>
          <li><a href="javascript:void(0);">已结束</a></li>
      </ul>
    </ul>
  </div>
</nav>

<div class="row menu">
    <select class="col m2 l2 browser-default hide-on-med-and-down" ng-model="choice" material-select watch>
      <option ng-repeat="value in ['最新','最热']">{{value}}</option>
    </select>
    <div class="col s4 m3 l2 menu-item ">
      <a class="active" ui-sref=".activitys">校园活动</a>
    </div>
    <div class="col s4 m3 l2 menu-item"><a href="/w/races">校园竞赛</a></div>
    <div class="col s4 m3 l2 menu-item"><a href="/w/teams">校园团队</a></div>
</div>

<div ui-view></div>
