<div class="row center filter-bar">
  <ul>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        dropdown data-hover="true"
        ng-click="search=false"
        ng-mouseover="search=false"
        data-activates="dropDown">校园活动
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul id='dropDown' class='dropdown-content'>
        <li><a href="/w/teams">校园团队</a></li>
        <li><a href="/w/races">校园竞赛</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        ng-click="search=false;type=undefined;statusHide=false"
        ng-mouseover="search=false;type=undefined;statusHide=false"
        dropdown data-hover="true"
        data-activates="statusDropDown">{{status || "状态"}}
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul ng-hide="statusHide" id='statusDropDown' class='dropdown-content'>
        <li><a href="#!" ng-click="ingFilter()">进行中</a></li>
        <li><a href="#!" ng-click="nosFilter()">未开始</a></li>
        <li><a href="#!" ng-click="endFilter()">已结束</a></li>
        <li><a href="#!" ng-click="allStatusFilter()">全部</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        ng-click="search=false;status=undefined;typeHide=false"
        ng-mouseover="search=false;status=undefined;typeHide=false"
        dropdown data-hover="true"
        data-activates="typeDropDown">{{type || "类型"}}
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul ng-hide="typeHide" id='typeDropDown' class='dropdown-content'>
        <li><a href="#!" ng-click="formFilter()">表单</a></li>
        <li><a href="#!" ng-click="voteFilter()">投票</a></li>
        <li><a href="#!" ng-click="seckillFilter()">抢票</a></li>
        <li><a href="#!" ng-click="allTypeFilter()">全部</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a href="" ng-click="search = !search">搜索
        <i class="mdi-action-search"></i>
      </a>
    </li>
  </ul>
  <div input-field class="col s10 offset-s1 m6 offset-m3" ng-show="search">
    <input type="text" ng-model="filterTitle" ng-change="titleFilter()" placeholder="请在此输入关键字">
  </div>
  
</div>
<div class="row menu">
  <div class="col s4 m4 l2 item active waves-effect hide-on-med-and-down">
    <a class="active" href=""></a>
  </div>
  <div class="col s4 m4 l2 item active waves-effect">
    <a class="active" href="/w/activities">校园活动</a>
  </div>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/races">校园竞赛</a>
  </div>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/teams">校园团队</a>
  </div>
</div>
<div class="row container card-list">
  <ul>
    <li class="col s12 m4 l3" 
    ng-repeat="activityItem in activityItems | filter: query">
      <div class="card">
        <div class="card-content">
          <h4 class="card-title">
            <a ng-href="/w/activities/{{activityItem.id}}">
              <span ng-if="activityItem.status === 'ing'" 
                  class="red white-text act-status" 
                  ng-bind="activityItem.status"></span>
              <span ng-if="activityItem.status === 'end'" 
                  class="grey white-text act-status" 
                  ng-bind="activityItem.status"></span>
              <span ng-if="activityItem.status === 'nos'" 
                  class="orange white-text act-status" 
                  ng-bind="activityItem.status"></span>
              <span ng-bind="activityItem.title"></span>
            </a>
          </h4>
          <h6>
            <a ng-href="/w/teams/{{activityItem.teamId}}">
              <b ng-bind="activityItem.authorName"></b>
            </a>
            <time ng-bind="activityItem.created | date : 'yyyy-MM-dd'"></time>
          </h6>
        </div>
        <div class="card-image">
          <a ng-href="/w/activities/{{activityItem.id}}">
            <img ng-src="{{activityItem.imgUrl}}@4e_0o_0l_200h_360w_90q.src" style="width:100%" alt="{{activityItem.title}}" err-src="http://img.etuan.org/default.png@4e_0o_0l_200h_360w_90q.src">
          </a>
        </div>
        <div class="card-action">
          <h6>
            <span>标签：</span><span class="orange-text" ng-bind="activityItem.keyword"></span>
          </h6>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="activityItems.length >= 16" class="col s12 center list-more">
  <a ng-show="$currentUser && !last" href="" ng-click="getActivities()">加载更多</a>
  <a ng-show="last" href="">没有更多活动了</a>
  <a ng-show="!$currentUser" href="" ng-click="getActivities()">登录</a>
</div>

