<div class="row">
  <h5 ng-if="seckill._seckillItems.length !== 1" ng-show="countDown > 0" class="center">开始倒计时：
    <span class="deep-orange-text" ng-bind="seckillTime.d"></span>天
    <span class="deep-orange-text" ng-bind="seckillTime.h"></span>时
    <span class="deep-orange-text" ng-bind="seckillTime.m"></span>分
    <span class="deep-orange-text" ng-bind="seckillTime.s"></span>秒
  </h5>
  <h5 ng-if="seckill._seckillItems.length !== 1" ng-show="countDown <= 0 " class="center">
    <span class="seckill-time deep-orange-text">{{activityEnded ? '已结束': '正在进行中...'}}</span>
  </h5>
  <div ng-if="seckill._seckillItems.length !== 1" class="col s12 m6 offset-m3" input-field
       ng-show="activity.verifyRule">
    <input id="verifyId" type="text" ng-model="activity.verifyId" ng-focus="focus()" ng-blur="blur()"
           style="text-align:center">
    <label for="verifyId">请输入验证信息({{activity.verifyRule}})</label>
  </div>

  <div>
    <ul>
      <li ng-if="seckill._seckillItems.length !== 1" class="col s12 m6"
          ng-repeat="seckillItem in seckill._seckillItems">
        <div class="card blue-grey darken-1 center white-text">
          <div class="card-content">
            <h5 class="card-title orange-text darken-1" ng-bind="seckillItem.name"></h5>
            <h6>票数：<span ng-bind="seckillItem.count"></span></h6>
            <h6>余量：<span ng-bind="seckillItem.margin"></span></h6>
          </div>
          <div class="card-action center">
            <h4>
              <button ng-disabled="activityEnded"
                      class="btn-floating btn-large waves-effect white deep-orange-text seckill-btn"
                      ng-click="submitSeckillResult()" href="">抢
              </button>
            </h4>
          </div>
        </div>
      </li>
      <li ng-if="seckill._seckillItems.length === 1" ng-repeat="seckillItem in seckill._seckillItems">
        <div class="seckill-bg white-text gray-shadow"
             style="background-image: url({{activity.imgUrl}}@1e_1c_0o_0l_200h_360w_90q.src);">
          <div class="frosted-glass"></div>
          <div class="seckill-info center">
            <h4 style="margin-top: 50px" class="deep-orange-text text-shadow" ng-bind="seckillItem.name"></h4>
            <h5 ng-show="countDown > 0" class="center">开始倒计时：
              <span class="deep-orange-text" ng-bind="seckillTime.d"></span>天
              <span class="deep-orange-text" ng-bind="seckillTime.h"></span>时
              <span class="deep-orange-text" ng-bind="seckillTime.m"></span>分
              <span class="deep-orange-text" ng-bind="seckillTime.s"></span>秒
            </h5>
            <h5 ng-show="countDown <= 0 " class="center">
              <span class="seckill-time deep-orange-text">{{activityEnded ? '已结束': '正在进行中...'}}</span>
            </h5>
            <div class="col s12 m6 offset-m3" input-field ng-show="activity.verifyRule">
              <input id="verifyId2" type="text" ng-model="activity.verifyId" ng-focus="focus()" ng-blur="blur()"
                     style="text-align:center">
              <label for="verifyId2">请输入验证信息({{activity.verifyRule}})</label>
              <div style="margin-top: 50px">
                <h6>票数：<span ng-bind="seckillItem.count"></span></h6>
                <h6>余量：<span ng-bind="seckillItem.margin"></span></h6>
                <h4>
                  <button ng-disabled="activityEnded"
                          class="btn-floating btn-large white deep-orange-text seckill-btn waves-effect"
                          ng-click="submitSeckillResult()" href="">抢
                  </button>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>
