<div class="vote">
	<div>
		<h5 ng-show="vote.max">你最多可选择<span class="vote-tip" ng-bind="vote.max"></span>项</h5>
		<h5 ng-show="vote.limit">你必须选择<span class="vote-tip" ng-bind="vote.limit"></span>项</h5>
		<hr>
	</div>
	<div input-field ng-show="activity.verifyRule">
    <input id="verifyId" type="text" ng-model="activity.verifyId" ng-focus="focus()" ng-blur="blur()">
    <label for="verifyId">请输入验证信息({{activity.verifyRule}})</label>
	</div>
	<div class="row col s12" ng-if="vote._voteItems[0]['imgUrl']">
		<div class="col s6 m4 l3"  ng-repeat="voteIteam in vote._voteItems">
			<div class="card">
				<div class="card-image">
					<img ng-src="{{voteIteam.imgUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
				</div>
				<div class="card-content">
					<p>
			      <input type="checkbox" id="{{voteIteam.id}}" ngIteam-click="checkedForVote()" ng-init="false" ng-model="result[$index]"/>
			      <label for="{{voteIteam.id}}" ng-bind="voteIteam.name"></label>
			      <span ng-bind="voteIteam.count" class="right"></span>
			    </p>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="!vote._voteItems[0]['imgUrl']">
		<form>
	    <p ng-repeat="voteIteam in vote._voteItems">
	      <input type="checkbox" id="{{voteIteam.id}}" ng-click="checkedForVote()" ng-init="false" ng-model="result[$index]"/>
	      <label for="{{voteIteam.id}}" ng-bind="voteIteam.name"></label>
	      <span ng-bind="voteIteam.count" class="right"></span>
	    </p>
  	</form>
	</div>
	
	<div  class="row col s12 center">
		<button type="sumbit" ng-disabled="activityEnded"
			class="btn waves-effect waves-light red"
			ng-click="submitVoteResult()">提交
			<i class="mdi-content-send"></i>
		</button>
		<span ng-if="activityEnded" class="red-text">已结束</span>
	</div>
</div>
