<div class="vote">
	<div>
		<h5>你最多可选择<span class="vote-tip" ng-bind="vote.max"></span>项</h5>
		<hr>
	</div>

	<div class="row col s12" ng-if="vote._voteItems[0]['imgUrl']">
		<div class="col s6 m4 l3"  ng-repeat="voteIteam in vote._voteItems">
			<div class="card">
				<div class="card-image">
					<img ng-src="{{voteIteam.imgUrl}}@4e_0o_0l_200h_360w_90q.src">
				</div>
				<div class="card-content">
					<p>
			      <input type="checkbox" id="{{voteIteam.id}}" ngIteam-click="checkedForVote()" ng-init="false" ng-model="result[$index]"/>
			      <label for="{{voteIteam.id}}" ng-bind="voteIteam.name"></label>
			      <span ng-bind="voteIteam.count" class="right"></span>
			    </p>
				</div>
			</div>
		</div>
	</div>

	<div ng-if="!vote._voteItems[0]['imgUrl']">
		<form>
	    <p ng-repeat="voteIteam in vote._voteItems">
	      <input type="checkbox" id="{{voteIteam.id}}" ng-click="checkedForVote()" ng-init="false" ng-model="result[$index]"/>
	      <label for="{{voteIteam.id}}" ng-bind="voteIteam.name"></label>
	      <span ng-bind="voteIteam.count" class="right"></span>
	    </p>
  	</form>
	</div>
	<div input-field ng-show="activity.verifyRule">
    <input id="verifyRule" type="text" ng-model="activity.verifyId">
    <label for="verifyRule">请输入验证信息({{activity.verifyRule}})</label>
	</div>
	<div  class="row col s12 center">
		<a type="sumbit" 
			class="waves-effect btn-flat"
			ng-click="submitVoteResult()">提交
		</a>
	</div>
</div>
