html{
  min-height: 100%;
  height: 100%;
}
body{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  min-height: 100%;
  height: 100%;
}

.topNav{
  position:relative;
  z-index:9999!important;
}

.topBarLeft{
  text-align: center;
}
.topBarCenter{
  text-align: center;
}
.topBarRight{
  text-align: center;
}
input{
  color: white;
}


/*.leftPart{*/
  /*border-right:1px solid #ADADAD;*/
  /*text-align: center;*/
  /*margin-top: 64px;*/
/*}*/
/*.rightPart{*/

/*}*/


.slide-nav{
  position:relative;
  z-index: 999!important;
}

