html{
  min-height: 100%;
  height: 100%;
}
body{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  min-height: 100%;
  height: 100%;
}

.topNav{
  height: 64px;
}

.topBarCenter{
  text-align: center;
}


.coterie-top{
  margin: 0;
}

.coterieMain{
  padding-left: 240px;
}

@media only screen and (max-width: 992px){
  .coterieMain{
    padding-left: 0;
  }
}

#coterie-sideBar{
  margin: 0;
}


.bold{
  font-weight: bold;
}


.coterieHeader{
  position: relative;
}
.coterieHeaderRight{
  position: absolute;
  right: 0;
  top: 10px;
}

.font-large{
  font-size: 25px;
}
.withoutPadding{
  padding: 0!important;
}
.withoutMargin{
  margin: 0;
}

.coterie-sideBar{
  margin-top: 64px;
}
.coterieLogo{
  width: 64px;
  height: 64px;
}
.coterieLeft{
  left: 0!important;
  float: left;
}
.coterieSideMargin{
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.coterieSystemMargin{
  margin-top: 15px;
}
.coterieArticleIcons{
  font-size: xx-large;
}
.coterieSpace{
  padding-right: 15px;
}
.coterieUserMessageLi{
  margin-bottom: 15px;
}
.coterieSideTime{
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: 400;
}

.coterieSideLi{
  position: relative;
}
.coterieSideNewNum{
  position: absolute;
  right: 0!important;
  top: 20px;

}

.coterieConcernStar{
  cursor: pointer;
  font-size: x-large;
  padding-right: 20px;
  color: #ff8a65;
}


