html{
  min-height: 100%;
  height: 100%;
}
body{
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体";
  min-height: 100%;
  height: 100%;
}

.topNav{
  height: 64px;
}

.topBarCenter{
  text-align: center;
}
.topBarRight{
}
input{
  color: white;
}


.coterie-top{
  margin: 0;
}

.coterieMain{
  padding-left: 240px;
}

@media only screen and (max-width: 992px){
  .coterieMain{
    padding-left: 0;
  }
}

#coterie-sideBar{
  margin: 0;
}

header{

}

.bold{
  font-weight: bold;
}


.coterieHeader{

}

.font-large{
  font-size: 25px;
}
.withoutPadding{
  padding: 0!important;
}
.withoutMargin{
  margin: 0;
}

.coterie-sideBar{
  margin-top: 64px;
}
.coterieLogo{
  width: 64px;
  height: 64px;
}
.coterieLeft{
  left: 0!important;
  float: left;
}
.coterieSideMargin{
  margin-top: 15px;
  margin-bottom: 15px;
}
.coterieSystemMargin{
  margin-top: 15px;
  margin-bottom: 15px;
}


