body{
  background-color: #EEE;
}
@media only screen and (max-width: 601px) {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
  }
}
@media only screen and (max-width: 601px) {
  .modal {
    width: 100%;
  }
}
/*头部设置*/
.header {
	background-color: #0CB9F7;
	padding: 0;
	margin: 0;
  height: 4.2rem;
  position: relative;
  z-index: 1000;
  white-space:nowrap;  /*不换行*/
 /* overflow: hidden; */
}
.header ul a{
	font-size: 1.3rem;
  padding: 0 8px;
  font-weight: bold;
}
.header ul li:hover ul{
  display: block;
}
.header .pull-menu{
  position: absolute;
  background: #000;
  display: none;
}
.header .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2rem;
  padding: 0;
  white-space: nowrap;
  font-weight: 900;
  font-family: cursive;
}
nav .nav-wrapper i {
  position: absolute;
  top: 0;
  left: 4rem;
}
.dropdown-content {
  top: 4.2rem !important;
  width: 20% !important;
}
.tabs {
  display: -moz-box;  /* Firefox */ 
  display: -ms-flexbox;    /* IE10 */ 
  display: -webkit-box;    /* Safari */  
  display: -webkit-flex;    /* Chrome, WebKit */ 
  display: box;  
  display: flexbox;  
  display: block;
}

#search{
  margin: 0;
}
/*首页设置*/
.notice {
  height: 3rem;
  font-size: 1rem;
  color: red;
  background-color: #000;
  opacity: 0.2;
  position: absolute;
  width: 100%;
}

.section-first {
  max-height: 700px;
  background-color: #eee;
}

.login {
  position: absolute;
  top: 64px;
  width: 100%;
}
.login .btn{
  margin: 10px;
}
.login a {
  display: inline-flex;
  font-size: 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
}
.bottom-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  z-index: 1;
  left: 0;
  right: 0;
}
.bottom-bar a{
  font-size: 1.3rem;
}
.bottom-bar .menus{
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flexbox;
  display: block;
  position: relative;
  height: 48px;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
}
.bottom-bar .menus .menu{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: block;
  float: left;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  letter-spacing: .8px;
  min-width: 80px;
  border-bottom: 0;
}
.bottom-bar .menus .menu a{
  width: 100%;
  display: block;
  height: 90%;
  font-size: 2rem;
}
.bottom-bar .menus .menu .active{
  background-color: #fff;
  color: #ee6e73;
  border-bottom: 2px solid #f6b2b5;
}
/*@media only screen and (min-width : 993px) {
  .container {
    width: 80%; } }*/
/*校园服务导航菜单*/
.menu{
  height: 45px;
  font-size: 1.3rem;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  white-space:nowrap;
  overflow: hidden; 
  border-bottom: 5px solid #0CB9F7;
}
.row{
  margin-bottom: 0;
}

.browser-default{
  height: 100%;
  border: 1px #fff;
}

.menu .item {
  height: 100%;
  line-height: 45px;
  text-align: center;
}

.menu .active{
  color: #fff;
  background-color: #0CB9F7;
}

.container .row{
  margin: 0;
}



.list {
  padding: 0.5rem;
}
.list h4{
  white-space:nowrap;  
  overflow: hidden;   
  text-overflow:ellipsis;
  padding: 5px 10px;
  margin: 0;
  font-size: 1.3rem;
  padding-top: 10px;
  color: #000;
}
.list h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin: 0;
}
.list .card-content {
  white-space: nowrap;
  font-size: 1rem;
  padding: 5px 10px;
  width: 100%;
}
.list .card-image img{
  width: 100%;
  max-height: 250px;
}
.list .card-image h6{
  white-space:nowrap;  
  overflow: hidden;   
  text-overflow:ellipsis;
  font-size: 1.2rem;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
.list .tag {
  white-space: nowrap;
  font-size: 1rem;
  padding: 5px 10px;
  width: 100%;
}

.list .tag h6{
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
@media only screen and (min-width : 903px) {
  .create-team {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px; 
  }
}

.switch{
  line-height: 3rem;
  font-size: 1rem;
  color: #9e9e9e;
}
.switch>span{
  padding-right: 20px;
}
.vote-tip {
  color: red;
  padding: 0 10px;
  font-size: 1.5rem;
}
.vote .card{
  margin: 10px 20px;
}
.user-team {
  padding: 5px !important; 
  position: relative;
}
.user-team img {
  width: 50px;
 /* border-radius: 25px;*/
}
.user-team h4{
  overflow: hidden;
  font-size: 1.2rem;
  padding: 5px;
  margin: 0;
}
.user-team h4 *{
  vertical-align:middle;
}
.user-team p {
  text-align: left;
}
.user-team label{
  position: absolute !important;
  top: 22.5px;
  right: 0px;
}
.team-card .card-title{
  padding: 20px 0; 
  text-align: center;
}
.team-card .card-title img{
  width: 50px;
  border-radius: 25px;
}
.team-card .card-title h4{
  overflow: hidden;
  font-size: 1.2rem;
  padding: 5px;
  margin: 0;
}
.team-card .card-content{
  height: 150px;
  overflow: hidden;
  padding: 0 20px;
  text-overflow: ellipsis;
}
@media only screen and (max-width : 993px) {
  .team-title.container {
    width: 100%;
  }
}
.team-title {
  padding: 20px;
  text-align: center;
  background-color: rgba(12,185,247,0.5);
}
.team-title img{
  width: 100px;
  border-radius: 50px;
}
.team-title h4{
  overflow: hidden;
  font-size: 1.2rem;
  padding: 5px;
  margin: 0;
  color: #fff
}
.coterie {

}

.coterie header .button-collapse{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 30px;
  z-index: 999;
  color: #fff;
  font-size: 30px;
}
.coterie header li{
  border-bottom: solid 1px #eee;
}
.coterie header li h4 {
  font-size: 1.2rem;
  margin: 10px 5px;
  overflow: hidden;
}
.coterie header li h4 *{
  vertical-align: middle;
}

.coterie header li h4 >img:first-child {
  width: 2.5rem;
  border-radius: 1.25rem;
}
.coterie header li h4 .attention{
  float: right;
  width: 2.5rem;
}
.coterie .side-nav .icon-logo {
  height: 4.2rem;
  margin-bottom: 2rem;
}
.coterie .side-nav .icon-logo a{
  font-size: 2rem;
  font-family: cursive;
  padding: 2rem 3rem;
}
.coterie .side-nav a {
  color: #444; 
  display: block;
  font-size: 1.2rem;
  line-height: 100%;
  padding: 10px 0;
}
@media only screen and (min-width : 993px) {
  .coterie .coterie-detail{
    margin-left: 300px;
    padding: 20px; 
  }
}

.coterie .coterie-header{
  background-size: 100% 300px;
  background-color: rgb(99, 113, 125);
  height: 300px;
  padding: 30px 0;
  text-align: center;
}
.coterie .coterie-header img {
  border-radius: 50px;
  width: 100px;
}
.coterie .coterie-header h4 {
  color: #fff;
}
.coterie .article .author{
  padding: 0.5rem 1rem;
  margin: 0;
}
.coterie .article .author * {
  vertical-align: middle;
}
.coterie .article .author img {
  width: 3rem;
  border-radius: 1.5rem;
}
.coterie .article .author span{
  color: #444; 
  font-size: 1.2rem;
}
.coterie .article .card-content{
  position: relative;
  padding-top: 0;
  max-height: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.coterie .article .card-content>span{
  position: absolute;
  right: 20px;
  top: 0;
  padding: 5px;
  font-size: 1.1rem;
}
.coterie .article .card-action{
  padding: 5px 0px;
}
.coterie .article .card-action .action{
  width: 30%;
  text-align: center;
}
.coterie .article .card-action .action *{
  vertical-align: middle;
  font-size: 1.1rem;
}
.coterie .article .card-action .action i {
  padding-left: 5px;
}
.coterie .article .card-action .waves-effect{
  cursor: auto !important;
}
.coterie .collapsible p{
  line-height: 1.5rem;
}
.coterie .collapsible>li{
  padding-left: 3rem;
  border-bottom: 1px solid #ddd;
}
.coterie .collapsible.avatar{
  position: relative;
}
.coterie .collapsible.avatar .circle{
    position: absolute;
    width: 2rem;
    overflow: hidden;
    left: 0.5rem;
    display: inline-block;
    vertical-align: middle;
}
.coterie .collapsible-header {
  display: block;
  cursor: pointer;
  line-height: 100%; 
  padding: 10px 0;
  background-color: #fff;
  border-bottom: 0px solid #ddd;
}
.coterie .collapsible-header .reply{
  position: absolute;
  right: 20px;
  vertical-align: middle;
}
.coterie .collapsible-header .reply i {
  margin: 0;
  line-height: 100%;
}
.coterie .collapsible-body{
  border-bottom: 0px solid #ddd;
}
.coterie .collapsible-body p {
  line-height: 2rem;
  padding: 0;
  margin: 0;
}
.coterie .collapsible .collection {
  margin: 10px 10px 10px 0;
  border: 1px solid #e0e0e0;
}
.collapsible {
  border-top: 0 solid #ddd; 
  border-right: 0 solid #ddd; 
  border-left: 0 solid #ddd;  
  margin: 0.5rem 0 1rem 0; 
}
.user-header { 
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
}
.user-header .user-info{
  height: 170px;
}
.user-header img {
  width: 100px;
  margin: 10px;
}
.user-header h4 {
  font-size: 1.2rem;
  color: #bbb;
}
.user-header h4 span{
  margin: 5px;
}
.user-header .user-data{
  height: 170px;
}
@media only screen and (max-width: 601px){
  .user-header .user-data{
    border-top: solid 1px #eee;
  }
}
.user-header ul.row{
  margin-top: 50px;
}
.user-header ul li {
  display: inline;
}
.user-activity {
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}
.user-activity hr{
  border: solid 1px #eee;
  /*clear: both;*/
}
.user-activity .menus {
  white-space: nowrap;
  overflow: hidden;
  /*float: left;*/
}
.user-activity ul li {
  display: inline;
  padding: 5px;
}
.user-activity .active{
      color: #444;
    font-size: 1.3rem;
}
.user-activity ul .title{
  font-size: 1.5rem;
  font-weight: 500;
} 
.user-activity .content {
  /*min-height: 200px;
  padding: 1rem;*/
}
.user-activity .item{
  position: relative;
  margin: 10px 0;
  margin-top: 10px;
}
.user-activity .item>div{
  position: absolute;
  left: 120px;
  top: 10px;
}