<div class="col s12">
  <ul class="collection">

    <li class="collection-item avatar">
      <i class="material-icons circle">folder</i>
      <span class="title">团队负责人</span>
      <p ng-bind="team.username"></p>
    </li>

    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">微信公众号</span>
      <p ng-bind="team.chatId || '无'"></p>
    </li>

		<li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">团队简介</span>
      <p ng-bind="team.desc"></p>
    </li>

    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">团队部门</span>
      <a href=" " class="secondary-content"><i class="material-icons">send</i></a>
    </li>
    
   	<li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">视频展示</span>
      <a href=" " class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
      <img src="images/yuna.jpg" alt="" class="circle">
      <span class="title">图片展示</span>
      <a href=" " class="secondary-content"><i class="material-icons">send</i></a>
    </li>
  </ul>
</div>