<div>
  <div class="col s12 m12 team-title center container">
    <img ng-src="{{team.logoUrl}}">
    <h4><span ng-bind="team.name"></span></h4>
  </div>
  <div class="container">
    <div class="detail-menu  col s12 ">
      <ul class="tabs" tabs>
        <li class="tab col s4 waves-effect">
          <a href="#about">简介</a>
        </li>
        <li class="tab col s4 waves-effect">
          <a href="#activities">活动</a>
        </li>
        <li class="tab col s4 waves-effect">
          <a href="#join" ng-click="getUserInfo()">加入</a>
        </li>
      </ul>
    </div>
    <div class="detail-box">
      <div id="about" >
        <ng-include src="'/application/views/team/about.html'"></ng-include>
      </div>
      <div id="activities">
        <ng-include src="'/application/views/team/activities.html'"></ng-include>
      </div>
      <div id="join">
        <ng-include src="'/application/views/team/join.html'"></ng-include>
      </div>
    </div>
  </div>
</div>