<div class="row center filter-bar">
  <ul>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        dropdown data-hover="true"
        ng-click="search=false"
        ng-mouseover="search=false"
        data-activates="dropDown">校园团队
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul id='dropDown' class='dropdown-content'>
        <li><a href="/w/activities">校园活动</a></li>
        <li><a href="/w/races">校园竞赛</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        ng-click="search=false;type=undefined;statusHide=false"
        ng-mouseover="search=false;type=undefined;statusHide=false"
        dropdown data-hover="true"
        data-activates="statusDropDown">{{status || "状态"}}
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul ng-hide="statusHide" id='statusDropDown' class='dropdown-content'>
        <li><a href="#!" ng-click="statusFilter()">可加入</a></li>
        <li><a href="#!" ng-click="allStatusFilter()">全部</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a class="dropdown-button" href="" 
        ng-click="search=false;status=undefined;typeHide=false"
        ng-mouseover="search=false;status=undefined;typeHide=false"
        dropdown data-hover="true"
        data-activates="typeDropDown">{{type || "类型"}}
        <i class="mdi-navigation-arrow-drop-down"></i>
      </a>
      <ul ng-hide="typeHide" id='typeDropDown' class='dropdown-content'>
        <li><a href="#!" ng-click="organizationFilter()">校园组织</a></li>
        <li><a href="#!" ng-click="associationFilter()">校园社团</a></li>
        <li><a href="#!" ng-click="avocationFilter()">兴趣团队</a></li>
        <li><a href="#!" ng-click="raceFilter()">竞赛团队</a></li>
        <li><a href="#!" ng-click="allTypeFilter()">全部</a></li>
      </ul>
    </li>
    <li class="col s3">
      <a href="" ng-init="search = true" ng-click="search = !search">搜索
        <i class="mdi-action-search"></i>
      </a>
    </li>
  </ul>
  <div input-field class="col s10 offset-s1 m6 offset-m3" ng-show="search">
    <input type="text" ng-model="filterTitle" ng-change="titleFilter()" placeholder="请在此输入关键字">
  </div>
</div>
      
<div class="row menu">
  <div class="col s4 m4 l2 item active waves-effect hide-on-med-and-down">
    <a class="active" href=""></a>
  </div>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/activities">校园活动</a>
  </div>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/races">校园竞赛</a>
  </div>
  <div class="col s4 m4 l2 item active waves-effect">
    <a class="active" href="/w/teams">校园团队</a>
  </div>
</div>

<!--校园团队列表-->
<div class="row container" >
  <ul>
    <li class="col s12 m6 l3 team-card" ng-repeat="team in teams | filter: query">
      <div class="card">
        <div class="card-image">
          <a href="/w/teams/{{team.id}}">
            <img ng-src="{{team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
            
          </a>
        </div>
        <div class="card-content team-desc">
            <span class="card-title activator grey-text text-darken-4">
              <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
              <i class="mdi-navigation-more-vert right"></i>
            </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
            <i class="mdi-navigation-close right"></i>
          </span>
          <p class="team-desc" ng-bind="team.desc"></p>
        </div>
        <div class="card-action">
          <a href="/w/teams/{{team.id}}" ng-bind="team.status ? '正在找人': '不可加入'"></a>
        </div>
      </div>
    </li>
  </ul>
</div>
<div ng-show="teams.length >= 32" class="col s12 center list-more">
  <a ng-show="$currentUser && !last" href="" ng-click="getTeams()">加载更多</a>
  <a ng-show="last" href="" >没有更多团队了</a>
  <a ng-show="!$currentUser" href="" ng-click="getTeams()">登录</a>
</div>
