<!-- <nav class="header row hide-on-large-only">
  <div class="nav-wrapper">
    <a href="/" class="col brand-logo">whereRU</a>
    <ul>
      <li>
        <a class="dropdown-button right" href="" dropdown data-hover="true"
           data-activates="demoDropdown">{{choice || "全部"}}
          <i class="mdi-navigation-arrow-drop-down"></i>
        </a>
      </li>
      <ul id='demoDropdown' class='dropdown-content'>
        <li ng-repeat="type in types">
          <a href="javascript:void(0);" ng-bind="type.name" ng-chick="changeFilter()"></a>
        </li>
      </ul>
    </ul>
  </div>
</nav> -->
<div class="row menu">
  <select class="col m2 l2 browser-default hide-on-med-and-down" ng-model="choice" material-select watch>
    <option value="" disabled selected>全部</option>
    <option ng-repeat="type in types">{{type.name}}</option>
  </select>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/activities">校园活动</a>
  </div>
  <div class="col s4 m4 l2 item waves-effect">
    <a href="/w/races">校园竞赛</a>
  </div>
  <div class="col s4 m4 l2 item active waves-effect">
    <a class="active" href="/w/teams">校园团队</a>
  </div>
</div>

<!--校园团队列表-->
<div class="row container" >
  <ul>
    <li class="col s12 m6 l3 team-card" ng-repeat="team in teams | filter: choice">
      <div class="card">
        <div class="card-image">
          <a href="/w/teams/{{team.id}}">
            <img ng-src="{{team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src">
            
          </a>
        </div>
        <div class="card-content team-desc">
            <span class="card-title activator grey-text text-darken-4">
              <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
              <i class="mdi-navigation-more-vert right"></i>
            </span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">
            <a href="/w/teams/{{team.id}}" class="grey-text text-darken-4" ng-bind="team.name"></a>
            <i class="mdi-navigation-close right"></i>
          </span>
          <p class="team-desc" ng-bind="team.desc"></p>
        </div>
        <div class="card-action">
          <a href="/w/teams/{{team.id}}" ng-bind="team.status ? '正在找人': '不可加入'"></a>
        </div>
      </div>
    </li>
  </ul>
</div>

