<div class="center" ng-if="!activities.length">
  <h4>没有内容</h4>
</div>
<ul ng-if="activities.length">
  <li class="item col s12" ng-repeat="activity in activities">
  	
    <img ng-src="{{activity.imgUrl}}">
    <div>
    	<h6 class="title">
	    	<a href="/w/activities/{{activity.id}}" ng-bind="activity.title"></a>
	    </h6>
	    <h6>发布方 | 
	    	<a href="/w/teams/{{activity.authorId}}"  ng-bind="activity.authorName"></a>
		  </h6>
      <h6>
        参与时间 | <span ng-bind="activity.created | date: 'yyyy-MM-dd HH:mm:ss'"></span>
      </h6>
      <h6>
        <a href="/u/results/{{activity.resultId}}/{{activity.actType}}">查看结果</a>
      </h6>
    </div>
  </li>
</ul>