<div class="center" ng-if="!articles.length">
  <h4>没有内容</h4>
</div>
<ul ng-if="articles.length">
  <li class="item col s12" ng-repeat="likeArticle in likeArticles">
    <img ng-src="{{likeArticle.article.user.headImgUrl}}">
    <div>
    	<h6 class="title">
	    	<a href="/w/articles/{{likeArticle.article.id}}" ng-bind="likeArticle.article.title"></a>
	    </h6>
	    <h6>发布者 |
	    	<a href="/u/{{likeArticle.article.user.id}}" ng-bind="likeArticle.article.user.name"></a>
		  </h6>
		  <h6>收藏时间 |
	    	<span ng-bind="likeArticle.created | date: 'yyyy-MM-dd HH:mm:ss'"></span>
		  </h6>
    </div>
  </li>
</ul>