<ul ng-if="articles.length">
  <li class="collection-item" ng-if="likeArticles.length === 0 || !likeArticles">
    <p class="word-wrap">
      你还没有喜欢文章哦 (￣▽￣")
    </p>
  </li>
  <li class="item col s12 margin-top" ng-repeat="likeArticle in likeArticles">
    <img ng-src="{{likeArticle.article.user.headImgUrl}}">
    <div>
    	<h6 class="title">
	    	<a href="/w/articles/{{likeArticle.article.id}}" ng-bind="likeArticle.article.title"></a>
	    </h6>
	    <h6>发布者 |
	    	<a href="/u/{{likeArticle.article.user.id}}" ng-bind="likeArticle.article.user.name"></a>
		  </h6>
		  <h6>收藏时间 |
	    	<span ng-bind="likeArticle.created | date: 'yyyy-MM-dd HH:mm'"></span>
		  </h6>
      <a class="waves-effect btn white black-text" ng-href="{{'#deleteLikeConfirm' + $index}}" modal>取消收藏</a>
      <div id="{{'deleteLikeConfirm' + $index}}" class="modal">
        <div class="modal-content">
          <h4>确认</h4>
          <p class="text-center warningText"><i class="mdi-alert-warning"></i> <span>确认取消收藏？</span></p>
        </div>
        <div class="modal-footer">
          <a ng-click="deleteLike()" href=""
             class="white-text modal-action modal-close waves-effect waves-green btn-flat red darken-1">取消收藏</a>
          <a href="" class="modal-action modal-close waves-effect waves-green btn-flat">取消</a>
        </div>
      </div>
    </div>
    <hr>
  </li>
</ul>

