<div class="container row z-depth-1 user-header">
	<div class="col s12 m6 center">
		<img ng-src="{{user.headImgUrl}}">
		<h4 ><span ng-bind="user.name"></span><span ng-bind="user.phone"></span></h4>
	</div>
	<div class="col s12 m6 center">
		<ul class="row">
			<li class="col s4">
				<a href="">余额</a>
			</li>
			<li class="col s4">
				<a href="">信誉值</a>
			</li>
			<li class="col s4">
				<a href="">积分</a>
			</li>
		</ul>
	</div>
</div>
<div class="container row z-depth-1 user-activity">
	<ul class="row">
		<li><a href="">我的团队</a></li>
		<li><a href="">参赛竞赛</a></li>
		<li><a href="">活动历史</a></li>
		<li><a href="">喜欢文章</a></li>
	</ul>
	<hr>
	<div class="content">
		
	</div>
</div>