<div class="login-screen" ng-click="cancelLogin()"></div>
<form class="z-depth-2 col s12 m8 offset-m2" name="loginForm" ng-controller="LoginController">
  <div class="row center">
    <h3>登录后更精彩</h3>
  </div>
  <div class="row">
    <div style="cursor: pointer" ng-if="mediaIsPC" ng-show="!wechatLogin" ng-hide="!mediaIsPC && !isWechart" class="col s4 center"
         ng-click="loadURL()">
      <img src="/lib/img/weixin.jpg">
      <h6>点击微信登录</h6>
    </div>
    <div style="cursor: pointer" ng-if="isWechart" ng-show="!changeInputType" ng-hide="!mediaIsPC && !isWechart" class="col s12 center"
         ng-click="loadURL()">
      <img src="/lib/img/weixin.jpg">
      <h6>点击微信登录</h6>
    </div>
    <div ng-show="wechatLogin" class="col s4 center">
      <div class="center" id="qrcode"></div>
      <h6>微信“扫一扫”</h6>
    </div>
    <div ng-class="{true: 's12'}[!mediaIsPC]" class="col s8">
      <div ng-show="changeInputType" class="input-field">
        <input id="phone" type="number" ng-model="user.phone" length="11" ng-focus="focus()" ng-blur="blur()" required>
        <label for="phone">请输入手机号</label>
      </div>
      <div class="input-field password-input">
        <input ng-show="changeInputType" id="password" type="{{pwdSwitch? 'text': 'password'}}" ng-model="user.password" min="8"
               ng-focus="focus()" ng-blur="blur()" length="16" required>
        <label ng-show="changeInputType" for="password">请输入密码</label>
        <div ng-show="changeInputType" class="switch">
          <label id="tooltip" data-position="bottom" data-delay="0" data-tooltip="显示/隐藏密码">
            <input type="checkbox" ng-init="true" ng-model="pwdSwitch">
            <span class="lever"></span>
          </label>
        </div>
        <span class="left" ng-show="!mediaIsPC && !isWechart">要使用微信登陆，请用微信打开</span>
        <a ng-show="changeInputType" href="/u/retrieve" class="right">忘记密码</a>
        <div ng-show="isWechart" class="col s12 center">
          <a ng-click="changeInputType = !changeInputType" href="">使用{{changeInputType?'微信':'账号密码'}}登陆</a>
        </div>
      </div>
      <br>
      <div class="col s12 l6 offset-l6">
        <a href="#" class="waves-effect btn-flat col s4 center" ng-click="cancelLogin()">取消</a>
        <a href="/u/register"
           class="waves-effect btn-flat col s4 center" ng-click="cancelLogin()">注册</a>
        <button type="sumbit" class="btn waves-effect orange darken-2 col s4 center"
                ng-click="login()"
                ng-disabled="loginForm.$invalid">登录
        </button>
      </div>
    </div>

  </div>
</form>

<script>
  $(document).ready(function () {
    $('#tooltip').tooltip();
  });
</script>
