<ul class="collection with-header">
  
  <li class="collection-item avatar" ng-repeat="race in races">
    <img ng-src="{{race.imgUrl}}@1e_1c_0o_0l_100h_100w_100q.src" alt="" class="circle">
    <span class="title">
      <a href="/w/races/{{race.id}}" ng-bind="race.name"></a>
    </span>
    <p>
      <span>发布方 | 
        <a ng-href="/w/teams/{{race.teamId}}">
          <b ng-bind="race.authorName"></b>
        </a>
      </span>
      <br>
      <span>
        <span>报名时间:</span>
        <time ng-bind="race.created| date:'yy/MM/dd'"></time>
        <span>-</span>
        <time ng-bind="race.ended| date:'yy/MM/dd'"></time>
      </span>
    </p>
  </li>
  <li class="collection-header">
    <h4><a href="/w/races">参与竞赛</a></h4>
  </li>
</ul>