<nav class="header row hide-on-large-only">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">whereRU</a>
  </div>
</nav>
<div class="register container">
	<h4>用户注册 <small class="grey-text"> 信息完善</small></h4>
	<form ng-show="!regSuccess && !$currentUser" class="reg " id="regForm" name="regForm">
		<div class="input-field col offset-m2 offset-l2 s12 m4 l4">
		    <input id="phone" type="number" ng-model="user.phone" length="11" ng-focus="focus()" ng-blur="blur()" required>
		    <label for="phone">请输入手机号</label>
		</div>

		<div class="input-field col s12 m4 l4">
		    <input id="name" type="text" ng-model="user.name" ng-focus="focus()" ng-blur="blur()" required>
		    <label for="name">请输入姓名</label>
		</div>
	
		<div class="input-field password-input col s12 m4 l4">
			<input id="password" type="{{pwdSwitch? 'text': 'password'}}" ng-model="user.password" ng-focus="focus()" ng-blur="blur()" length="16" required>
		    <label for="password">请输入密码</label>
		    <div class="switch">
			    <label>
			      <input type="checkbox" ng-init="true" ng-model="pwdSwitch">
			      <span class="lever"></span>
			    </label>
			  </div>
		</div>

		<select class="" ng-model="user.school" material-select watch>
		  <option value="" disabled selected>请选择学校</option>
		  <option ng-repeat="school in schools">{{school.name}}</option>
		</select>
		
		<select class="" ng-model="user.sex" material-select watch>
		  <option value="" disabled selected>请选择性别</option>
		  <option value="男">男</option>
		  <option value="女">女</option>
		</select>
		<div  class="row center">
			<button type="sumbit" 
			  class="waves-effect waves-light btn offset-s1" 
				ng-click="register()" 
				style="margin-left: 20px"
				ng-disabled="regForm.$invalid">注册</button>
		</div>
	</form>
	<div ng-show="regSuccess">
		<div id="bindQrcode" class="center"></div>
		<h6 class="center">微信扫一扫,绑定账号</h>
	</div>
	<div class="container center" ng-show="$currentUser">
		<a href="/w/activities">随便看看</a>
	</div>
</div>


