<ul class="collection with-header">
 
  <li class="collection-item avatar" ng-repeat="team in teams">
    <img ng-src="{{team.team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src" alt="" class="circle">
    <span class="title">
      <a href="/w/team/{{team.team.id}}" ng-bind="team.team.name"></a>
    </span>
    <p>
      <span ng-if="team.owner" >
        <i class="mdi-action-grade"></i><span>拥有者</span>
      </span>
      <br>
      <span>角色 | <span ng-bind="team.role || '未选择'"></span></span>
    </p>
  </li>
  <li class="collection-header">
    <h4><a href="/w/teams/create">新建团队</a></h4>
  </li>
</ul>