<ul class="collection with-header">

  <li class="collection-item" ng-if="teams.length === 0">
    <p class="word-wrap">
      你还没有创建团队哦，点击下面的按钮创建 ｡◕‿◕｡
    </p>
  </li>
  <li class="collection-item avatar" ng-repeat="team in teams">
    <img ng-src="{{team.team.logoUrl}}@1e_1c_0o_0l_100h_100w_100q.src" alt="" class="circle">
    <span class="title">
      <a href="/w/team/{{team.team.id}}" ng-bind="team.team.name"></a>
    </span>
    <p>
      <span ng-if="team.owner" >
        <i class="mdi-action-grade"></i><span>拥有者</span>
      </span>
      <br>
      <span>角色 | <span ng-bind="team.role || '未选择'"></span></span>
    </p>
  </li>
  <li class="collection-item add-btn">
    <a href="/w/teams/create" class="btn waves-effect">新建团队</a>
  </li>
</ul>
